{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Регистрация Оператора/Модератора</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Панель управления</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<div class="container p-tb-2">
    <div class="col-md-12">
        <form method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.username|as_crispy_field }}
                {{ form.user_phone_number1|as_crispy_field }}
                {{ form.user_is_operator|as_crispy_field }}
                {{ form.is_moderator|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}