{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Регистрация Участника</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Панель управления</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<div class="container p-tb-2">
    <div class="col-md-12">
        <form method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.username|as_crispy_field }}
                {{ form.user_full_name|as_crispy_field }}
                {{ form.user_full_name_plural|as_crispy_field }}
                {{ form.user_passport_given_by|as_crispy_field }}
                {{ form.user_passport_from_date|as_crispy_field }}
                {{ form.user_inn|as_crispy_field }}
                {{ form.user_birthday|as_crispy_field }}
                {{ form.user_birthday_city|as_crispy_field }}
                {{ form.user_region|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.user_passport_address|as_crispy_field }}
                {{ form.user_real_address|as_crispy_field }}
                {{ form.user_phone_number1|as_crispy_field }}
                {{ form.user_phone_number2|as_crispy_field }}
                {{ form.user_balance|as_crispy_field }}
                {{ form.user_notifications|as_crispy_field }}
                <div id="div_id_password1" class="form-group">
                    <label for="id_password1" class=" requiredField">
                        Пароль<span class="asteriskField">*</span>
                    </label>

                    <div class="">
                        <input type="password" name="password1" class="form-control textinput textInput form-control"
                            placeholder="Пароль" required="" id="id_password1" value="kelechek123">
                    </div>
                </div>

                <div id="div_id_password2" class="form-group">
                    <label for="id_password2" class=" requiredField">
                        Повторите пароль<span class="asteriskField">*</span>
                    </label>

                    <div class="">
                        <input type="password" name="password2" class="form-control textinput textInput form-control"
                            placeholder="Повторите пароль" required="" id="id_password2" value="kelechek123">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}