{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Создать Оповещений | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Создать Оповещений</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Создать Оповещений</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->


<div class="container p-tb-2">
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        <div class="col-md-6">
            {% csrf_token %}
            <div id="div_id_protocol_date" class="form-group">
                <label for="id_protocol_date" class="">
                    Заголовок
                </label>
                <div class="">
                    <input type="text" name="title" class="dateinput form-control" id="id_protocol_date">
                </div>
            </div>

            <div id="div_id_protocol_date" class="form-group">
                <label for="id_vote_file" class="">
                    Документ для оповещения:
                </label>
                <div class="">
                    {{form.vote_file}}
                </div>
            </div>
            <div id="div_id_protocol_date" class="form-group">
                <label for="id_protocol_date" class="">
                    Оповещение
                </label>
                <div class="">
                    <textarea name="description" cols="40" rows="10" class="dateinput form-control"
                        id="id_description"></textarea>
                </div>
            </div>
            <input type="submit" name="submit" value="Создать" class="btn btn-success">


        </div>
    </form>
</div>
{% endblock %}