{% extends 'base.html' %}
{% load static %}
{% block title %}Создать договор | {% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Создать договор</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>Создать договор</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


    <div class="container p-tb-2">
        <div class="col-md-6">
            <form id="post_form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="Создать">
            </form>
        </div>
    </div>
{% endblock %}