{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Договор об участии | НЖНКВ «Один Шаг к Будущему»  Кыргызстан, Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
        content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>

<body>
    <style>
        .title2 {
            text-align: center;
            font-weight: bold;
            margin: 10px 0;
        }

        p {
            margin: 0;
        }

        .red {
            color: red;
        }
        .img {
            width: 30%;
        }
    </style>
    <div style="padding: 25px 30px;">

        <p>
        <p style="text-align: center; font-weight: bold; font-size: 18px; padding: 30px 0 10px;">
            Договор об участии в НЖНКВ «Один Шаг к Будущему» №
            {{object.user_agreement.agreement_document_number}}
        </p>

        <p style="margin-bottom: 10px;">
            <b>{% if object.user_agreement.agreement_city %}
                    {{object.user_agreement.agreement_city}}
                {% else %}г. Бишкек{% endif %}
            </b>
            <span style="float: right;"><b>{{object.user_agreement.agreement_date}}</b></span>
        </p>
        <p>
            {% if object.user_region.region_title %}
                {{object.user_region.region_title}}
            {% else %}
                Некоммерческий жилищно-накопительный кооператив взаимопомощи «Один Шаг к Будущему»
            {% endif %}

            , в лице

            {% if object.user_agreement.agreement_chairman %}
                {{object.user_agreement.agreement_chairman}},
            {% else %}
                 ____________________ действующего на основании Доверенности №___________ от __________20__ года,
            {% endif %}
            именуемый в дальнейшем «Кооператив», с одной стороны,
            и <b>{{ object.user_full_name }}</b>,
            паспорт: <b>{{ object.username.upper }}</b>, </b> Выдан <b> {{ object.user_passport_given_by }}</b> от
            <b> {{ object.user_passport_from_date }}</b> года, зарегистрированный (ая) по адресу: <b>{{ object.user_passport_address }}</b>,
            именуемый(ая) в дальнейшем «Член Кооператива», с другой стороны, совместно именуемые
            «Стороны» и по отдельности «Сторона», заключили настоящий договор (далее по тексту –«Договор») о
            нижеследующем:
        </p>
        <p class="title2">
            1. Предмет Договора
        </p>
        <p>
            1.1 Предметом настоящего Договора является размер и порядок участия Члена кооператива в Кооперативе.
            Подписав настоящий договор, Член кооператива выражает согласие и присоединяется к единым условиям членства в
            Кооперативе, изложенным в Уставе и внутренними документами Кооператива.
        </p>
        <p>
            1.2 Член кооператива принимает на себя обязательства по внесению вступительного взноса, паевых, членских и иных
            взносов в размерах, порядке и сроки, предусмотренных настоящим Договором и локальными актами Кооператива.
        </p>
        <p>
            1.3 Кооператив принимает на себя обязательства по приобретению прав на недвижимое имущество жилого назначения
            (квартира, жилой дом с земельным участком, земельный участок для строительства жилого дома)
            в порядке очередности Члену кооператива по его выбору и усмотрению, при условии соответствия
            выбранной недвижимости утвержденным в Кооперативе стандартам, путем заключения соответствующего
            гражданско-правового договора на имя Члена кооператива.
        </p>
        <p class="title2">
            2. Размер и порядок внесения взносов и платежей.
        </p>
        <p>
            2.1 Желаемая стоимость недвижимого имущества, заявленная Членом кооператива при подаче заявки на вступление
            в членство Кооператива, составляет
            <strong>{{object.user_agreement.home_price}} ({{object.user_agreement.home_price_text}}) сом.</strong> сом.
        </p>
        <p>
            2.2 Член кооператива вступает в членство Кооператива по программе <b>{{ object.user_agreement.percent_4_field }}%</b> ({{ object.user_agreement.percent_4_field_text }})
            и первоначальный взнос составляет {{ 25percent_text }} ({{ object.user_agreement.home_price_25percent_text }}) сомов.
            Данная сумма, равная {{ object.user_agreement.percent_25_field }}% ({{ object.user_agreement.percent_25_field_text }}),
            от желаемой (заявленной) стоимости приобретаемого, после наступления очередности, недвижимого
            имущества оплачивается единовременно за счет собственных средств Члена Кооператива, в наличной форме в
            кассу Кооператива, либо путем перечисления денежных средств на расчетный счет Кооператива.
        </p>
        <p>
            2.2.1 Член кооператива вносит первоначальный взнос, указанный в п. 2.2. настоящего Договора,
            с момента принятия решения о приеме его в члены Кооператива;
        </p>
        <p>
            2.3 Размер обязательного паевого взноса в паевой фонд Кооператива составляет 100 (Сто) сом и оплачивается
            Членам Кооператива путем перечисления или внесения наличных денежных средств на кассу
            Кооператива на день заключения настоящего Договора.
        </p>
        <p>
            2.4 До приобретения объекта недвижимости для Члена кооператива (до выделения ссуды Члену кооператива),
            Член кооператива обязан вносить ежемесячный паевой взнос в размере {{ object.user_agreement.home_month_price }} ({{ object.user_agreement.loan_amount_text }}) сом,
            согласно Приложению №1 к Договору, которое является неотъемлемой частью настоящего Договора.
            Данный взнос направляется на сумму ссуды, предоставляемой Кооперативом на приобретение недвижимого имущества
            для Члена Кооператива. После приобретения недвижимого имущества составляется график погашения выделенной ссуды,
            с учетом суммы, выплаченной Членом кооператива, согласно Приложению №1 к настоящему Договору.
        </p>
        <p>
            2.4.1. В случаи не оплаты ежемесяных паевых взносов Членом кооператива указынный в пункте 2.4. Кооператив имеет право снизить
            желаюмую стоимость недвижимости указанную в пункте 2.1. на не оплачиваюмую сумму ежемесячных паевых взносов в двойном размере.
        </p>
        <p>
            2.5 Вступительный взнос – составляет {{ object.user_agreement.percent_4_field }}% ({{ object.user_agreement.percent_4_field_text }}) от желаемой (заявленной) стоимости недвижимого имущества и
            оплачивается членом Кооператива единовременно. Оплата осуществляется Членом кооператива путем перечисления на
            расчетный счет Кооператива или внесения наличных денежных средств в кассу Кооператива на день заключения
            настоящего Договора.
        </p>
        <p>
            2.5.1 Вступительный взнос по настоящему Договору составляет сумма в размере {{ 4percent_text }}
            ({{ object.user_agreement.home_price_4percent_text }}) сом 00 тыйын.
        </p>
        <p>
            2.5.2 Целевой взнос (содержание Кооператива) в размере 2000 (две тысячи) сом 00 тыйын вносится Членом кооператива
            ежемесячно с момента приобретения недвижимого имущества и до выполнения перед Кооперативом всех обязательств
            по графику погашения.
        </p>
        <p>
            2.6 Целевой взнос (юридическое сопровождение) в размере {{ object.user_agreement.law_payment }} ({{ object.user_agreement.law_payment_text }})
            сом 00 тыйын вносится Членом
            кооператива в момент, когда наступит его очередность на приобретение недвижимости, для проведения юридической
            экспертизы правоустанавливающей документации, анализа технической документации и оценки приобретаемого объекта
            недвижимого имущества.
        </p>
        <p>
            2.7 Член кооператива несет все расходы по оформлению и регистрации права собственности на недвижимое
            имущество (транспортные расходы, услуги нотариуса, госпошлины и тд.), а также расходы по получению всех
            необходимых для этой процедуры документов (выписки, справки и т.д.).
        </p>

        <p class="title2">
            3. Права и обязанности Сторон
        </p>
        <p>
            3.1 Член Кооператива обязуется:
        </p>
        <p>
            3.1.1 Своевременно и в размерах, установленных настоящим Договором осуществлять оплату вступительного,
            первоначального, паевых и целевых взносов Кооперативу для выполнения Кооперативом обязательств по приобретению
            прав на недвижимое имущество на имя Члена кооператива.
        </p>
        <p>
            3.1.2 Осуществлять за счет собственных средств эксплуатацию и ремонт приобретенного им в рамках членства в
            Кооперативе недвижимого имущества, оплачивать расходы, связанные с текущим содержанием, ресурсоснабжением,
            техническим обслуживанием и ремонтом, а также оплачивать эксплуатационные, коммунальные и иные услуги,
            необходимые для надлежащей эксплуатации недвижимого имущества с момента передачи недвижимого имущества Члену кооператива.
        </p>
        <p>
            3.1.3 Исполнять решения и требования Общего собрания членов Кооператива, Совета Кооператива, Правления Кооператива
            и иных органов Кооператива касательно обязанностей члена Кооператива.
        </p>
        <p>
            3.1.4 Не обременять недвижимое имущество правами третьих лиц, до момента полного исполнения обязательств
            перед Кооперативом в соответствии с условиями настоящего Договора, договора ссуды и договора залога.
        </p>
        <p>
            3.1.5 Использовать денежные средства выданной Кооперативом ссуды, исключительно по целевому
            назначению – приобретение жилой недвижимости, одобренной Кооперативом.
        </p>
        <p>
            3.1.6 До полного выполнения обязательств перед Кооперативом не сносить жилые дома,
            комнаты, строения, не осуществлять капитальную перепланировку недвижимости,
            приобретенной в рамках членства в Кооперативе.
        </p>
        <p>
            3.1.7 При изменении своего адреса места жительства, контактных данных и других реквизитов известить
            об этом Кооператив в течение 5 (Пяти) рабочих дней с момента изменения соответствующих данных.
        </p>
        <p>
            3.1.8 Исполнять требование Кооператива при производстве фото и видео съемок объекта приобретенной недвижимости,
            а также самого Члена кооператива (интервью, реклама и т.п.), а также не препятствовать в размещении
            таких материалов в своих источниках в интересах Кооператива.
        </p>
        <p>
            3.1.9 Исполнять иные обязанности Члена кооператива и соблюдать требования, предусмотренные Уставом и
            иными локальными актами Кооператива.
        </p>
        <p>
            <b>3.2 Член Кооператива имеет право:</b>
        </p>
        <p>
            3.2.1 Участвовать в уставной деятельности Кооператива, вносить предложения об улучшения деятельности Кооператива,
            устранении недостатков в работе, а также пользоваться ее результатами в соответствии с Уставом,
            настоящим Договором и действующими законодательствами Кыргызской Республики.
        </p>
        <p>
            3.2.2 По своему усмотрению и в любое время выйти из Кооператива и получить сумму своего обязательного,
            первоначального взноса, в порядке, определяемом Договором, Уставом и иными локальными актами Кооператива,
            при условии уплаты всех обязательных платежей и погашения обязательств по настоящему Договору.
        </p>
        <p>
            3.2.3 Передавать свои права и обязанности по настоящему Договору третьим лицам (родственникам 1-ой и 2-ой степени родства),
            а также завещать, согласно действующему законодательству Кыргызской Республики.
        </p>
        <p>
            3.2.4 После исполнения всех обязательств и отсутствия каких-либо задолженностей перед Кооперативом, все обременения
            (залог, арест) на приобретенное в рамках членства в Кооперативе недвижимое имущество снимаются, в порядке,
            установленном законодательством Кыргызской Республики.
        </p>
        <p>
            3.2.5 По своему желанию застраховать недвижимое имущество.
        </p>
        <p>
            3.2.6 Осуществлять иные права, предусмотренные законодательством Кыргызской Республики и Уставом Кооператива.
        </p>
        <p>
            <b>3.3. Кооператив обязуется:</b>
        </p>
        <p>
            3.3.1 Осуществить приобретение прав на недвижимое имущество Члену кооператива по его выбору и усмотрению,
            при условии соответствия выбранной недвижимости утвержденным в Кооперативе стандартам, путем предоставления
            Члену кооператива денежных средств в виде ссуды для приобретения недвижимого имущества на основании списка
            очередности и заключения соответствующего договора в отношении недвижимого имущества между продавцом
            недвижимости и Членом кооператива.
        </p>
        <p>
            3.3.2 Срок наступления очереди отсчитывается со дня оплаты полной суммы первоначального и вступительного взносов.
            Оплата осуществляется Членом кооператива путем перечисления на расчетный счет Кооператива или внесения
            наличных денежных средств в кассу Кооператива. Оплата подтверждается бухгалтерскими документами и/или
            банковской выпиской с расчетного счета Кооператива.
        </p>
        <p>
            3.3.3 После погашения ссуды и иных обязательных платежей Членом кооператива выдать ему справку о полной
            выплате взносов, денежных средств по договору ссуды, и надлежащего выполнения членом Кооператива иных
            обязательств, для снятия обременения (залога) на недвижимое имущество.
        </p>
        <p>
            <b>3.4 Кооператив имеет право:</b>
        </p>
        <p>
            3.4.1 Требовать от Члена кооператива надлежащего выполнения своих обязательств и соблюдения
            положений Устава и иных локальных актов Кооператива.
        </p>
        <p>
            3.4.2 Требовать от Члена кооператива совершения фото и видео сьемок и размешать их в своих источниках.
        </p>
        <p>
            3.4.3 Требовать от Члена кооператива участия в Общем собрании членов Кооператива.
        </p>
        <p>
            3.4.4 Отказать в приобретении выбранного Членом кооператива объекта недвижимого имущества, если объект
            продается по завышенной стоимости (реальная стоимость объекта ниже заявленной продавцом стоимости)
            или при наличии отрицательного юридического заключения со стороны Кооператива, а также если продавец
            объекта недвижимого имущества является его близким родственником или аффилированным лицом для Кооператива,
            а также по другим основаниям противоречащим Уставу и утвержденным стандартам Кооператива к приобретаемой недвижимости.
        </p>
        <p>
            3.4.5 Организовать, проводить и участвовать в мероприятиях, направленные на получение средств отечественных и
            иностранных благотворительных, некоммерческих, и инвестиционных организаций для осуществления уставной
            деятельности Кооператива.
        </p>
        <p>
            3.4.6 Осуществлять иные права, необходимые для достижения целей, предусмотренных Уставом Кооператива,
            в рамках действующего законодательства Кыргызской Республики..
        </p>

        <p class="title2">
            4. Требования к приобретаемому недвижимому имуществу.
        </p>
        <p>
            4.1 Недвижимое имущество должно быть свободно от каких-либо ограничений (обременений) прав на него третьих лиц,
            за исключением права проживания (пользования) членов семьи собственника, т.е. не должно находиться под
            арестом (запрещением), а право собственности на него не должно являться предметом судебного спора.
        </p>
        <p>
            4.2 Среди лиц, находившихся ранее на регистрационном учете в жилом недвижимом имуществе, не должно быть граждан,
            снятых с регистрационного учета, в связи с отбытием в вооруженные силы Кыргызской Республики, в места лишения
            свободы и т.п. То есть граждан, которые по возвращении, имели бы право зарегистрироваться по месту жительства,
            в данном жилом недвижимом имуществе.
        </p>
        <p>
            4.3 Недвижимое имущество должно быть подключено к электрическим, паровым или газовым системам отопления,
            обеспечивающим подачу тепла и света на всю площадь жилого недвижимого имущества, либо обладать автономной
            системой отопления..
        </p>
        <p>
            4.4 Недвижимое имущество должно быть введено в эксплуатацию, если иное не предусмотрено внутренними актами Кооператива.
        </p>
        <p>
            4.5 Устанавливается и иные требования к приобретаемому объекту недвижимого имущества, согласно внутренним актам Кооператива.
        </p>
        <p class="title2">
            5. Дополнительные условия
        </p>
        <p>
            5.1 Все изменения и дополнения к настоящему Договору, а также все приложения к нему оформляются в письменном виде
            и являются неотъемлемой частью настоящего Договора.
        </p>
        <p>
            5.2 Любая информация финансового характера, вопросы членства в Кооперативе, а также любые сведения об
            условиях настоящего Договора считаются конфиденциальными и не подлежат разглашению без согласия другой
            Стороны, за исключением случаев, предусмотренных законодательством Кыргызской Республики. За нарушение
            конфиденциальности информации Стороны несут ответственность в соответствии с действующим законодательством
            Кыргызской Республики.
        </p>
        <p>
            5.3 Обо всех изменениях в реквизитах Стороны обязаны незамедлительно письменно известить друг друга.
            Исполнение обязательств, совершенных по прежним адресам и счетам до поступления уведомлений об их изменении,
            считаются совершенными надлежащим образом.
        </p>
        <p>
            5.4 Вопросы членства в Кооперативе, непосредственно неурегулированные настоящим Договором, регулируются
            Уставом Кооператива, протоколами Общего собрания членов Кооператива, Решениями Правления и Совета Кооператива,
            принятыми в соответствии с их компетенцией, и другими локальными актами Кооператива.
        </p>
        <p class="title2">
            6. Ответственность Сторон
        </p>
        <p>
            6.1 При нарушении сроков оплаты по договору ссуды, выданного кооперативом на приобретение недвижимого
            имущества члену Кооператива, член Кооператива выплачивает пеню в размере 0,1 % от суммы остатка ссуды
            за каждый день просрочки.
        </p>
        <p>
            6.2 В случае невнесения Членом кооператива паевых, членских и иных взносов, предусмотренных настоящим Договором,
            Кооператив вправе расторгнуть настоящий договор в одностороннем внесудебном порядке, о чем Кооператив направляет
            Члену кооператива письменное уведомление заказным письмом с уведомлением о получении.
        </p>
        <p>
            6.3 В части, не оговоренной в настоящем Договоре, Стороны несут ответственность в соответствии с действующим
            законодательством Кыргызской Республики и Уставом Кооператива.
        </p>
        <p class="title2">
            7. Форс-мажор
        </p>
        <p>
            7.1 Стороны будут освобождены от ответственности за полное или частичное невыполнение
            ими своих обязательств, если неисполнение явилось следствием форс-мажорных обстоятельств.
        </p>
        <p>
            7.2 К форс-мажорным обстоятельствам относятся события, на которые Стороны не могут оказать влияние и за возникновение
            которых они не несут ответственность. В рамках настоящего Договора такими обстоятельствами Стороны
            считают: землетрясение, наводнение, смерч, пожар и другие стихийные бедствия, военные действия,
            гражданские волнения, забастовки, запрещения, изменения действующего законодательства, ограничения
            экономического и политического характера, непосредственно повлиявшие на исполнение обязательств по настоящему Договору.
        </p>
        <p>
            7.3 Сторона, для которой создалась невозможность исполнения обязательств, обязана в срок не позднее 15 дней с
            момента наступления и прекращения вышеуказанных обстоятельств, уведомить другую сторону об их наступлении и
            прекращении в письменной форме и/или любыми средствами связи.
        </p>
        <p>
            7.4 С момента наступления форс-мажорных обстоятельств сроки обязательств по настоящему Договору
            отодвигаются на время действия таких обстоятельств.
        </p>
        <p>
            7.5 Если форс-мажорные обстоятельства будут продолжаться более трех месяцев, то Стороны встретятся,
            чтобы обсудить какие меры им следует принять по ликвидации последствий. Однако, если Стороны не смогут
            договориться, то любая из Сторон вправе расторгнуть настоящий Договор при условии выполнения ею принятых
            на себя обязательств по настоящему Договору.
        </p>
        <p class="title2">
            8. Срок действия Договора. Порядок его расторжения
        </p>
        <p>
            8.1 Договор вступает в силу с момента подписания его обеими Сторонами и действует до полного выполнения
            Сторонами своих обязательств по настоящему Договору.
        </p>
        <p>
            8.2 Настоящий Договор составлен в 2 (Двух) подлинных экземплярах, обладающих равной юридической силой,
            по 1 (Одному) экземпляру для каждой из Сторон.
        </p>
        <p>
            8.3. Выход Члена кооператива из Кооператива и возврат внесенного им первоначального взноса производится в следующем порядке:
        </p>
        <p>
            8.3.1 Кооператив выплачивает вышедшему (исключённому) Члену кооператива сумму фактически внесённых им обязательного,
            первоначального и ежемесячных паевых взносов, указанных в пунктах 2.2. 2.3. 2.4. настоящего Договора.
        </p>
        <p>
            8.3.2 Фактически внесенного им вступительного взноса от желаемой (заявленной) стоимости недвижимого имущества,
            а также иные целевые взносы, возврату не подлежат.
        </p>
        <p class="title2">
            9. Уступка пая
        </p>
        <p>
            9.1 Член кооператива с согласия Кооператива до полного исполнения своих обязанностей, вправе уступить свои
            обязательства третьему лицу, являющимся родственником Члена кооператива первой и второй степени (близкие родственники).
            <br>
            <strong>
                Примечание: уступка пая (передача прав и обязанностей) третьим лицам осуществляется следующим лицам:
                родители, супруг(-а), дети (достигшие совершеннолетия), близкие родственники (родные братья/сестры,
                бабушки/дедушки) Члена кооператива.
            </strong>
        </p>
        <p>
            9.2 Третье лицо вступающего в члены Кооператива и к которому перешли права и обязанности по уступленному праву,
            вносит сумму вступительного взноса от желаемой (заявленной) суммы, указанной в пункт 2.1. настоящего Договора,
            даже при условии, если вступительный взнос был полном объеме оплачен Членом кооператива, уступающим свои права по Договору.
        </p>
        <p>
            9.3 При возникновении намерения Члена кооператива уступить обязательства, Член кооператива обязан подать в
            Правление Кооператива заявление о выходе из Кооператива, а третье лицо, желающее приобрести права и
            обязанности Члена кооператива, обязано подать в Правление Кооператива заявление о вступлении в члены Кооператива.
        </p>
        <p>
            9.4 В случае уступки, права и обязанности по настоящему Договору переходят к новому члену Кооператива в полном
            объеме с момента подписания соответствующего соглашения.
        </p>
        <p class="title2">
            10. Разрешение споров
        </p>
        <p>
            10.1 Стороны будут прилагать все усилия к тому, чтобы решать все разногласия и споры путем переговоров.
        </p>
        <p>
            10.2 До предъявления иска в судебном порядке обязательным является предъявление претензии.
            Претензия предъявляется в письменной форме с приложением документов, подтверждающих предъявленные
            заявителем требования. Сторона, получившая претензию, обязана рассмотреть претензию в течение тридцати
            дней со дня ее получения и уведомить заявителя об ее удовлетворении или отклонить.
        </p>
        <p>
            10.3 В случае неполучения Стороной, предъявившей претензию, ответа на претензию в течение срока,
            указанного в пункте 10.2 настоящего Договора или несогласия с ним, Сторона может обратиться в
            суд для разрешения спора. Споры рассматриваются в суде по месту нахождения Кооператива.
        </p>
        <p class="title2">
            11. Адреса, реквизиты и подписи Сторон
        </p>
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="341" valign="top">
                        <p style="width: 300px">
                            {% if object.user_region.region_title %}
                                {% autoescape off %}
                                    {{object.user_region.region_title}}
                                {% endautoescape %}
                            {% else %}
                                Некоммерческий жилищно-накопительный кооператив взаимопомощи «Один Шаг к Будущему»
                            {% endif %}
                        </p>
                        <p>
                            {% if object.user_region.region_address %}
                                {% autoescape off %}
                                    {{object.user_region.region_address}}
                                {% endautoescape %}
                            {% else %}
                                Юридический адрес. Бишкек, <br>ул.Севастопольская д. 12
                            {% endif %}
                        </p>
                        <p>
                            ИНН:
                            {% if object.user_region.region_inn %}
                                {{object.user_region.region_inn}}
                            {% else %}
                                01510201910197
                            {% endif %}
                        </p>
                        <p>
                            ОКПО:
                            {% if object.user_region.region_okpo %}
                                {{object.user_region.region_okpo}}
                            {% else %}
                                30417660
                            {% endif %}
                        </p>
                        <p>
                            Номер тел: {% if object.user_region.region_phone %}
                            {{object.user_region.region_phone}} {% else %} +996 702 250538 {% endif %}
                        </p>
                        <p>
                            {% if object.user_agreement.agreement_chairman %}
                                {{object.user_agreement.agreement_chairman}}
                            {% else %}
                                {% if object.user_region.region_director %}
                                    {{object.user_region.region_director}}
                                {% else %}
                                    зам.председатель правление Кооператива Кенжегулов Б.А
                                {% endif %}
                            {% endif %}
                        </p>
                        <br>
                        <p>
                            Подпись и Печать
                        </p>
                        <p>___________________ </p>
                    </td>

                    <td width="341" valign="top" style="margin-left: 15px;">
                        <p>
                            Член Кооператива
                        </p>
                        <p>
                            <b> {{ object.user_full_name }} </b>
                        </p>
                        <p>
                            Место проживания: <b> {{ object.user_passport_address }} </b>
                        </p>
                        <p>
                            Паспорт серии <b> {{ object.username.upper }} </b>
                        </p>
                        <p>
                            от <b> {{ object.user_passport_from_date }} </b>
                        </p>
                        <p>
                            Выдан <b> {{ object.user_passport_given_by }} </b>
                        </p>
                        <p>
                            ИНН:<b> {{ object.user_inn }} </b>
                        </p>
                        <p>
                            Контактный
                        </p>
                        <p>
                            Телефон 1: <b> {{ object.user_phone_number1 }} </b>
                        </p>
                        {% if object.user_phone_number2 %}
                            <p>
                                Телефон 2: <b> {{ object.user_phone_number2 }} </b>
                            </p>
                        {% endif %}
                        <br>
                        <br>
                        <p>
                            Подпись
                        </p>

                        <p>
                            <b> {{ last_name }} </b> __________
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>