{% extends 'base.html' %}
{% load static %}
{% block title %}Список договоров | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Список договоров</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Список договоров</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<style>
    .font-size-50 {
        font-size: 50px;
    }

    .list-button a {
        margin-bottom: 5px;
    }
</style>

<div class="container p-tb-2">
    <div class="row">
        <div class="well-inner">
            {% if object.user_agreement %}
            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button">
                    <a href="{% url 'agreement5_update' object.user_agreement.pk %}" class="btn btn-info">Изменить</a>
                </span>

                <a href="{% url 'agreement_5' user_pk.pk %}" target="_blank">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        <div class="well-content">
                            <h6>Заявление о вступлении в Кооператив</h6>
                        </div>
                    </div>
                </a>
            </div>
            <!-- single-well end-->

            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button">
                    <a href="{% url 'agreement1_update' object.user_agreement.pk %}" class="btn btn-info">Изменить</a>
                </span>
                <a href="{% url 'agreement_1' user_pk.pk %}" target="_blank">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        <div class="well-content">
                            <h3>Договор об участии</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- single-well end-->

            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button">
                    <a href="{% url 'agreement2_update' object.user_agreement.pk %}" class="btn btn-info">Изменить</a>
                </span>
                <a {% if object.user_agreement.agreement_month_text and object.user_agreement.agreement_month %}href="
                {% url 'agreement_2' user_pk.pk %}" target="_blank"{% else %} href="#" {% endif %}>
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        
                        <div class="well-content">
                            <h6>ДОГОВОР ССУДЫ </h6>
                        </div>
                    </div>
                </a>
            </div>
            <!-- single-well end-->

            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button">
                    <a href="{% url 'agreement4_update' object.user_agreement.pk %}" class="btn btn-info">Изменить</a>
                </span>
                <a href="{% url 'agreement_4' user_pk.pk %}" target="_blank">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        <div class="well-content">
                            <h3>Договор о залоге</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button">
                    <a href="{% url 'agr_1_update' object.user_agreement.pk %}" class="btn btn-info">Изменить</a>
                </span>
                <a href="{% url 'agr_1' user_pk.pk %}" target="_blank">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        <div class="well-content">
                            <h6>Доп приложение 1</h6>
                        </div>
                    </div>
                </a>
            </div>
            <!-- single-well end-->
            <div class="col-md-3 col-sm-4 col-xs-12">
            <span class="list-button" style="display:block; padding: 20px">

            </span>
            <a href="{% url 'agreement_prilojenie_3' user_pk.pk %}" target="_blank">
                <div class="well-services admin-well-services">
                    <div class="well-icon">
                        <i class="fa fa-newspaper-o font-size-50"></i>
                    </div>
                    <div class="well-content">
                        <h6>Приложение к договору ссуды 3</h6>
                    </div>
                </div>
            </a>
        </div>
            {% if user_pk.user_agreement.contract_date and user_pk.user_agreement.agreement_amount and user_pk.user_agreement.agreement_month %}
            <!-- single-well -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <span class="list-button" style="display:block; padding: 20px">

                </span>
                <a href="{% url 'agreement_3' user_pk.pk %}" target="_blank">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <i class="fa fa-newspaper-o font-size-50"></i>
                        </div>
                        <div class="well-content">
                            <h6>Приложение к договору ссуды (целевой)</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

            {% else %}
            <h3>У вас отсутсвует договор</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}