{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Анкета | Келечек - Жилищный кооператив Кыргызстан, Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
        content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>
<style>
    .container {
        padding: 20px 30px
    }

    p {
        padding: 8px;
        margin: 0;
    }

    .right {
        text-align: right;
    }
</style>

<body>
    <div class="container">
        <p style="float: right;">
            <strong><span>Председателю Правление<br> Некоммерческого жилищно-<br>накопительного кооператива Один <br>
                    шаг к будущему</span></strong>
            <strong>
                <br>
                <span>Курманалиеву Э.К</span>
            </strong><br>
            <strong><span>от</span></strong><span>
                {{object.user_full_name_plural}}<br>______________________________<br>
                <span style="font-size: 12px; margin-left: 50px;">( Ф.И.О заявителя)</span></span><br>
            <strong><span>адрес</span></strong><span>: {{object.user_real_address}}<br>______________________________
                <br>______________________________<br></span>
            <strong><span>номер
                    тел:</span></strong><span> {{object.user_phone_number1}}</span>
        </p>
        <p style="margin-bottom: 350px;"></p>
        <p style="text-align: center;">
            <strong><span>
                    ЗАЯВЛЕНИЕ</span></strong>
        </p>
        <p style="width: 90%; margin: 0 auto">
            <span><span style="margin-left: 20px;">Прошу</span> принять меня в
                члены НЖНКВ &laquo;Один шаг к будущему&raquo;.</span>
            <span>С уставом, правами и
                обязанностями членов Некоммерческого жилищно-накопительного кооператива ознакомлен(а). Обязуюсь соблюдать
                требования Устава кооператива и вносить взносы, предусмотренные уставом и внутренними документами
                кооператива.</span>
        </p>
        <p style="width: 80%; margin: 0 auto">
            <span>Приложение:</span>
        </p>
        <ol style="width: 80%; margin: 0 auto">
            <li><span>Анкетные данные
                    заявителя</span></li>
            <li><span>Копия паспорта</span>
            </li>
        </ol>
        <p style="margin-top: 400px;"></p>
        <p style="float: right;">
            <span>&laquo;___&raquo;________________20____г.</span><br><br>
            <span>Подпись ___________________</span>
        </p>
        <br>
        <p style="margin-bottom: 150px;"></p>

        <p style="text-align: center;">
            <span>Исполнитель
                (консультант): ____________________________</span><br>
            <span style="margin-left: 50px;">( Ф.И.О)</span>
        </p>
        <p style="margin-bottom: 100px;"></p>
        <div>
            <p align="center">
                <strong>АНКЕТНЫЕ ДАННЫЕ ЗАЯВИТЕЛЯ</strong>
            </p>
        </div>
        <span>
            _____________________________________________________________________________________________________________________________</span>
        <p>
            <strong><u>Информация о заявителе</u></strong>
        </p>
        <table border="1" width="1000px">
            <tbody>
                <tr>
                    <td colspan="2`">
                        <p>
                            ФИО:
                        </p>
                    </td>
                    <td colspan="10">
                        <p>
                            {{object.user_full_name}}
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Гражданство
                        </p>
                    </td>
                    <td colspan="10">
                        <p>

                        </p>
                    </td>

                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Паспорт
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            № {{object.username.upper}}
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Выдан {{object.user_passport_given_by}}
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                        <p>
                            От {{object.user_passport_from_date}}
                        </p>
                    </td>
                    <td colspan="5">
                        <p>

                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            ИНН
                        </p>
                    </td>
                    <td colspan="10">
                        <p>{{object.user_inn}}</p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Дата рождения
                        </p>
                    </td>
                    <td colspan="3">
                        <p>{{object.user_birthday}}</p>
                    </td>
                    <td colspan="3">
                        <p>
                            Место рождения
                        </p>
                    </td>
                    <td colspan="4">
                        <p>{{object.user_birthday_city}}</p>
                    </td>

                </tr>
                <tr>
                    <td rowspan="3" colspan="2">
                        <p>
                            Адрес прописки
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Город:
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Область:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                        <p>
                            Улица/м-н:
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Район:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                    </td>
                    <td colspan="3">
                        <p>
                            Дом:
                        </p>
                    </td>
                    <td colspan="2">
                        <p>
                            Кв:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" colspan="2">
                        <p>
                            Фактический адрес проживания
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Город:
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Область:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                        <p>
                            Улица/м-н:
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Район:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                    </td>
                    <td colspan="3">
                        <p>
                            Дом:
                        </p>
                    </td>
                    <td colspan="2">
                        <p>
                            Кв:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Телефон:
                        </p>
                    </td>
                    <td colspan="3">
                        <p>
                            Дом.:
                        </p>
                    </td>
                    <td colspan="3">
                        <p>
                            Моб.: {{object.user_phone_number1}}
                        </p>
                    </td>
                    <td colspan="4">
                        <p>
                            Раб.: {{object.user_phone_number2}}
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Электронная почта:
                        </p>
                    </td>
                    <td colspan="3">
                    </td>
                    <td colspan="3">
                        <p>
                            Интернет страница:
                        </p>
                    </td>
                    <td colspan="4">
                    </td>

                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Образование
                        </p>
                    </td>
                    <td width="256" colspan="5">
                        <p>
                            Высшее
                        </p>
                    </td>
                    <td width="234" colspan="5">
                        <p>
                            Неоконченное высшее
                        </p>
                    </td>

                </tr>
                <tr>
                    <td width="256" colspan="5">
                        <p>
                            Средне-специальное
                        </p>
                    </td>
                    <td width="234" colspan="5">
                        <p>
                            Среднее
                        </p>
                    </td>

                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Оконченные учебные заведения:
                        </p>
                    </td>
                    <td colspan="10">
                        <p>
                            1.
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="10">
                        <p>
                            2.
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Семейное положение
                        </p>
                    </td>
                    <td width="256" colspan="5">
                        <p>
                            Женат/Замужем
                        </p>
                    </td>
                    <td width="234" colspan="5">
                        <p>
                            Холост/Не замужем
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        <p>
                            <strong>Частный предприниматель на основании:</strong>
                        </p>
                    </td>
                    <td colspan="4">
                        <p>
                            Лицензии
                        </p>
                    </td>
                    <td colspan="4">
                        <p>
                            Патента/свидетельства
                        </p>
                    </td>

                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Вид деятельности:
                        </p>
                    </td>
                    <td width="200" colspan="2">
                        <p>
                            Торговля
                        </p>
                    </td>
                    <td width="200" colspan="3">
                        <p>
                            Услуги
                        </p>
                    </td>
                    <td width="200" colspan="3">
                        <p>
                            Производство
                        </p>
                    </td>
                    <td width="200" colspan="2">
                        <p>
                            Другое:
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="10">
                        <br>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Код ОКПО, ИНН
                        </p>
                    </td>
                    <td colspan="10">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Место бизнеса:
                        </p>
                    </td>
                    <td colspan="10">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Опыт работы:
                        </p>
                    </td>
                    <td colspan="10">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            <strong>Сотрудник по найму/Служащий</strong>
                        </p>
                    </td>
                    <td colspan="5">
                    </td>
                    <td colspan="5">
                        <p>
                            нет
                        </p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Место работы:
                        </p>
                    </td>
                    <td colspan="10">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Должность:
                        </p>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Стаж работы:
                        </p>
                    </td>
                    <td colspan="10">
                        <p></p>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <br>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br><br><br><br>
        <p>
            <strong><u>Информация о желаемом недвижимом имуществе:</u></strong>
        </p>
        <table border="1" width="1000px">
            <tbody>
                <tr>
                    <td colspan="3">
                        <p>
                            Вид
                        </p>
                    </td>
                    <td colspan="3">
                        <p>
                            Квартира
                        </p>
                    </td>
                    <td colspan="3">
                        <p>
                            Жилой дом
                        </p>
                    </td>
                    <td colspan="3" width="80px">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            Стоимость
                        </p>
                    </td>
                    <td colspan="9">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            Желаемый район
                        </p>
                    </td>
                    <td colspan="9">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            Описание
                        </p>
                    </td>
                    <td colspan="9">
                        <p>
                            _______________________________________________________________________________________________
                        </p>
                        <p>
                            _______________________________________________________________________________________________
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-top: 10px">
            <strong><u>Информация о семье</u></strong>
        </p>
        <p>
            <strong><u>Супруга/супруг</u></strong>
        </p>
        <table border="1" width="1000px">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p>
                            ФИО
                        </p>
                    </td>
                    <td colspan="10">
                        <p>
                            <strong><u> </u></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Дата рождения
                        </p>
                    </td>
                    <td colspan="2" width="200">
                        <p>
                            <strong><u> </u></strong>
                        </p>
                    </td>
                    <td colspan="4" width="200">
                        <p>
                            Место рождения
                        </p>
                    </td>
                    <td colspan="4" width="200">
                        <p>
                            <strong></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Образование
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Высшее
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Неоконченное высшее
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>
                            Средне-специальное
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Среднее
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Оконченные учебные заведения:
                        </p>
                    </td>
                    <td colspan="10">
                        <p>
                            1.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <p>
                            2.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="2">
                        <p>
                            Социальный статус
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Работает/служит
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Учится
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>
                            Пенсионер
                        </p>
                    </td>
                    <td colspan="5">
                        <p>
                            Не работает
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Место работы
                        </p>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Должность
                        </p>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            Стаж работы
                        </p>
                    </td>
                    <td colspan="10">
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong><u>Источники доходов семьи </u></strong>
            <span style="margin-left: 20px"></span> Сом <span style="margin-left: 20px"></span>Долл.США
        </p>
        <table border="1" width="1000">
            <tbody>
                <tr>
                    <td width="200">
                        <p>
                            Вид дохода
                        </p>
                    </td>
                    <td width="400">
                        <p>
                            Ваш
                        </p>
                    </td>
                    <td width="400">
                        <p>
                            Семьи
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Предпринимательский доход<strong><u></u></strong>
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Заработная плата<strong><u></u></strong>
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Работа по трудовому соглашению
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Доходы от сдачи собственности в аренду
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Пособия
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Пенсия, стипендия
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            Другое
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
                <tr>
                    <td width="355">
                        <p>
                            <strong>ИТОГО:</strong>
                        </p>
                    </td>
                    <td width="180">
                    </td>
                    <td width="115">
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
        <p>
            <strong><u>Расходы семьи заявителя </u></strong>
            <span style="margin-left: 20px"></span> Сом <span style="margin-left: 20px"></span>Долл.США
        </p>
        <table border="1" width="1000" style="margin-top: 5px">
            <tbody>
                <tr>
                    <td width="324">
                        <p>
                            Вид расхода
                        </p>
                    </td>
                    <td width="164">
                        <p>
                            Сумма в месяц
                        </p>
                    </td>
                    <td width="164">
                        <p>
                            Примечание
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Товары первой необходимости (питание, одежда, медикаменты
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Коммунальные услуги, аренда жилья
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Автотранспорт и передвижение
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Интернет, телевидение, мобильная связь
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Расходы на образование
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Платежи по кредиту
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            Другое
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
                <tr>
                    <td width="324">
                        <p>
                            <strong>ИТОГО:</strong>
                        </p>
                    </td>
                    <td width="164">
                    </td>
                    <td width="164">
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong><u>Данные о личной собственности</u></strong>
        </p>
        <table border="1" width="1000">
            <tbody>
                <tr>
                    <td width="733" colspan="3">
                        <p>
                            <strong><u>Недвижимость</u></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            Описание
                        </p>
                    </td>
                    <td width="509" colspan="2">
                        <p>
                            Адрес местонахождения
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            1.
                        </p>
                    </td>
                    <td width="509" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            2.
                        </p>
                    </td>
                    <td width="509" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            3.
                        </p>
                    </td>
                    <td width="509" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td width="733" colspan="3">
                        <p>
                            <strong><u>Автотранспорт</u></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            Модель
                        </p>
                    </td>
                    <td>
                        <p>
                            Год выпуска
                        </p>
                    </td>
                    <td width="365">
                        <p>
                            Правоустанавливающий документ
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            1.
                        </p>
                    </td>
                    <td>
                    </td>
                    <td width="365">
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            2.
                        </p>
                    </td>
                    <td>
                    </td>
                    <td width="365">
                    </td>
                </tr>
                <tr>
                    <td width="223">
                        <p>
                            3.
                        </p>
                    </td>
                    <td>
                    </td>
                    <td width="365">
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong><u>Денежные обязательства</u></strong>
        </p>
        <table border="1" width="1000">
            <tbody>
                <tr>
                    <td width="244">
                        <p>
                            Частный займ<strong><u></u></strong>
                        </p>
                    </td>
                    <td width="244">
                        <p>
                            Кредит в банке<strong><u></u></strong>
                        </p>
                    </td>
                    <td width="244">
                        <p>
                            Товары в рассрочку<strong><u></u></strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="244">
                        <p>
                            Гарант/поручитель<strong><u></u></strong>
                        </p>
                    </td>
                    <td width="488" colspan="2">
                        <p>
                            Другое<strong><u></u></strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <strong>Заявитель</strong>
            Заявитель подтверждает, что вышеизложенная информация является подлинной, соответствует истинным фактам и
            выражает согласие на проведение анализа его финансового состояния и предупрежден об ответственности
            предусмотренным законодательством Кыргызской Республики, за предоставление недостоверной информации и
            подложных документов.<strong>Заявитель не возражает</strong> , посещению своего местожительства и готов
            предоставить всю необходимую информацию. Заявителю известно, что скрытие или искажение им вышеуказанной
            информации влечет отказ в вступлении. Настоящим <strong>Заявитель</strong> гарантирует оплату всех
            комиссионных выплат, а также всех транспортных расходов и расходов по оформлению залога (в случае
            необходимости).
        </p>
        <br><br><br>
        <p>
            <span style="float: right"> «______»_____________ «__________» год</span>
            <br><br><br>______________________________
            <span style="margin-left: 30px;">_____________________________________</span>
            <br>
            <span style="margin-left: 60px;">(Ф.И.О заявителя)</span>
            <span style="margin-left: 200px;">(подпись)</span>
        </p>
    </div>
</body>

</html>