{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Договор о залоге | Келечек - Жилищный кооператив Кыргызстан, Бишкек</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords"
		content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
	<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>

<body>
	<style>
		.title2 {
			text-align: center;
			font-weight: bold;
			margin: 10px 0;
		}

		p {
			margin: 0;
		}
	</style>
	<div style="padding: 25px 30px;">
		<p style="text-align: center; font-weight: bold; font-size: 20px; padding-top: 30px;">
			ДОГОВОР О ЗАЛОГЕ
		</p>
		<p style="text-align: center; ">
			{% if object.user_agreement.deposit_date_text %}
                {{object.user_agreement.deposit_date_text}}
            {% endif %}
		</p>

		<p>
			{% if object.user_agreement.agreement_city %}
			    {{ object.user_agreement.agreement_city }}
            {% else %}
                г. Бишкек
            {% endif %}
            <span style="float: right;">{{object.user_agreement.deposit_date}}</span>
		</p>
		<p>
			Некоммерческий жилищно-накопительный кооператив взаимопомощи  «Один Шаг к Будущему»,
            именуемый в дальнейшем «Кооператив/Залогодержатель», в лице
            {{ object.user_agreement.agreement_by_whom }}, с одной стороны, и гражданин(-ка)
			<b>{{ object.user_full_name }}</b>, проживающая по адресу: <b>{{ object.user_passport_address }}</b>
            (паспорт <b>{{ object.username.upper }}</b>, <b>{{object.user_passport_given_by }}</b> от <b>{{object.user_passport_from_date }}</b>)
            являющийся (-щаяся) членом Кооператива, именуемый(-ая) в дальнейшем «Член кооператива/Залогодатель», с
            другой стороны, совместно именуемые «Стороны», а по отдельности «Сторона», заключили настоящий договор
            (далее по тексту «Договор») о нижеследующем:
		</p>
		<br>
		<p class="title2">
			1. <strong>ПРЕДМЕТ ДОГОВОРА</strong>
		</p>
		<p>
			1.1 Кооператив/Залогодержатель предоставил на условиях возвратности Члену кооператива/Залогодателю
            денежные средства в виде ссуды в размере
            <b>{{ object.user_agreement.agreement_amount }} ({{object.user_agreement.agreement_amount_text}}) сом 00 тыйын</b>,
            сроком на <b>{{ object.user_agreement.agreement_month }} ({{object.user_agreement.agreement_month_text }}</b>)
            месяцев, согласно Договору ссуды (целевой) от <b>{{object.user_agreement.deposit_date }}</b> (Далее по тексту «Договор ссуды)
		</p>
		<p>
			1.2 В обеспечение исполнения обязательств по Договору ссуды Член кооператива/Залогодатель предоставляет
            в залог следующее недвижимое имущество
		</p>
		<p>
			- <b>{{ object.user_agreement.agreement_home }}</b> (далее – Предмет залога)
			<br>
			<br>
		</p>

		<p>
			Указанный в п. 1.2. настоящего Договора Предмет залога принадлежит Члену кооператива/Залогодателю
            на праве собственности, что подтверждается следующими документами:
			<br>
			<br>
		</p>
		<p>
			1.2.1 Договор купли-продажи №_______________ от ______.____.20____г.
		</p>
		<p>
			1.3 Оценка Предмета залога произведена и по соглашению Сторон рыночная стоимость его составляет
            <b>{{ object.user_agreement.agreement_amount }} ({{ object.user_agreement.agreement_amount_text}}) сом 00 тыйын</b>.
		</p>
		<p>
			1.4 С оценкой Предмета залога в
			<b>{{ object.user_agreement.agreement_amount }} ({{ object.user_agreement.agreement_amount_text}}) сом 00 тыйын</b>.
		</p>
		<p>
			согласен (на) ___________________________________________________
		</p>
		<p>
			1.5 Предмет залога остается во владении и пользовании Члена кооператива/Залогодателя, без права распоряжения
		</p>
		<p>
			1.6 Член кооператива/Залогодатель гарантирует, что Предмет залога по настоящему Договору, не продан,
            не находится в других залогах, в споре и под запрещением не состоит, не является и не будет являться
            предметом других обязательств и свободен от притязаний третьих лиц.
		</p>
		<p>
			1.7 Настоящий Договор будет являться обеспечением при пролонгации, реструктуризации ссуды, указанной в п. 1.1. настоящего Договора.
		</p>
		<br>
		<p class="title2">
			2. ОБЯЗАННОСТИ СТОРОН
		</p>
		<p>
			2.1 Член кооператива/Залогодатель обязуется:
		</p>
		<p>
			2.1.1 Использовать Предмет залога строго по целевому назначению и не допускать последующих передач Предмета залога третьим лицам.
		</p>
		<p>
			2.1.2 Не допускать двойного залога Предмета залога без письменного согласия Кооператива/Залогодержателя.
		</p>
		<p>
			2.1.3 По требованию Кооператива/Залогодержателя застраховать за свой счет Предмет залога в пользу
            Кооператива/Залогодержателя в полной его стоимости от рисков утраты и повреждения.
		</p>
		<p>
			2.1.4 Не продавать, не закладывать, не менять, не сдавать в аренду, не распоряжаться каким бы то ни было
            иным образом Предметом залога без письменного согласия Кооператива/Залогодержателя.
		</p>
		<p>
			2.1.5 Обеспечить надлежащие условия для содержания Предмета залога, гарантировать его сохранность, допускать
            представителей Кооператива/Залогодержателя к месту нахождения Предмета залога с целью проверки его наличия,
            состояния и условия его содержания.
		</p>
		<p>
			2.1.6 Поддерживать Предмет залога в исправном состоянии и нести все расходы на содержание и ремонт
            (текущий и капитальный) этого имущества до прекращения залога.
		</p>
		<p>
			2.1.7 В случае порчи, уничтожения (гибели) Предмета залога восстановить или заменить Предмет залога вещью
            равноценной по рыночной стоимости не ниже утраченного Предмета залога или погасить долг
            (соответствующую часть долга) независимо от наступления срока платежа.
		</p>
		<p>
			2.1.8 При изменении места жительства Члена кооператива/Залогодателя в течение 3-х календарных дней
            информировать Кооператив/Залогодержатель о новом адресе своего места жительства.
		</p>
		<p>
			2.1.9 В случае обращения взыскания на Предмет залога возместить Кооперативу/Залогодержателю все расходы,
            связанные с реализацией Предмета залога (госпошлины, комиссионные, транспортные расходы и т.п.).
		</p>
		<p>
			2.1.10 За счет Предмета залога удовлетворить все требования Кооператива/Залогодержателя по Договору ссуды
            в полном объеме, включая обязательства перед Кооперативом/Залогодержателем, предусмотренные в Уставе,
            договоре об участии, и других локальных актах Кооператива/Залогодержателя.
		</p>
		<p>
			2.1.11 Предоставить право Кооперативу/Залогодержателю контролировать выполнение принятого на себя
            обязательств в течение всего периода действия договора ссуды.
		</p>
		<p>
			2.1.12 Передать Кооперативу/Залогодержателю всю техническую, правоустанавливающую документацию на Предмет
            залога. Ответственность за достоверность прилагаемой документации возлагается на Члена кооператива/Залогодателя.
		</p>
        <p>
            2.1.13 После погашения ссуды в полном объеме и исполнения перед Кооперативом/Залогодержателем всех своих
            обязательств по Договору ссуды, настоящему Договору залога, договору об участии, и иных договоренностей
            между Сторонами, самостоятельно и за свой счет произвести снятие обременения (залога) на Предмет залога.
        </p>
		<p>
			2.2 Кооператив/Залогодержатель обязуется:
		</p>
		<p>
			2.2.1 При своевременном и полном выполнении обязательств по Договору ссуды Членом кооператива/Залогодателем
            возвратить документы на Предмет залога и предоставить справку для снятия обременения (залога)
            Члену кооператива/Залогодателю.
		</p>
		<p>
			2.2.2 При удовлетворении за счет Предмета залога своих требований по Договору ссуды, после реализации
            Предмета залога возвратить денежные средства, превышающие размер обязательств по Договору ссуды и
		</p>

		<p class="title2">
			3. ПРАВА СТОРОН
		</p>
		<p>
			3.1 Кооператив/Залогодержатель имеет право:
		</p>
		<p>
            3.1.1. Изменить в одностороннем порядке стоимость Предмета залога при изменении конъюнктуры рынка, письменно предупредив об этом Члена кооператива/Залогодателя.
        </p>
        <p>
            3.1.2. Получить физический доступ к Предмету залога, а также любой существующей документации на него, необходимой для проверки размера, состояния и условий хранения или пользования Предметом залога.
        </p>
        <p>
            3.1.3. Требовать от Члена кооператива/Залогодателя принятия мер необходимых для сохранения, охраны Предмета залога.
        </p>
        <p>
            3.1.4. Требовать прекращения от любого лица, в том числе и Члена кооператива/Залогодателя прекращения любого посягательства на Предмет залога, угрожающего ему гибелью, порчей или существенно снижающего его стоимость.
        </p>
        <p>
            3.1.5. Требовать восстановления или замены Предмета залога в случае его утраты или порчи не по вине Кооператива/Залогодержателя или досрочного исполнения обязательств по Договору ссуды.
        </p>
        <p>
            3.1.6. Передать свои права по настоящему Договору другому лицу.
        </p>
        <p>
            3.1.7. Обратить взыскание на Предмет залога в судебном порядке:
            <p>
                - до наступления срока исполнения обеспеченного залогом обязательства, в случае нарушения Членом
                кооператива/Залогодателем срока оплаты обязательств по Договору ссуды и/или невыполнения требований
                Кооператива/Залогодержателя о досрочном исполнении обеспеченного залогом обязательства (т.е. нарушение
                Членом кооператива/Залогодателем настоящего Договора).
            </p>
            <p>
                - по истечении срока исполнения, обеспеченного залогом обязательства, в случае, если Член
                кооператива/Залогодатель не оплатил задолженность по Договору ссуды.
            </p>
        </p>
        <p>
            3.1.8. За счет Предмета залога удовлетворить свои требования по Договору ссуды, включая сумму невозвращённой ссуды, а также убытки, причиненные просрочкой исполнения Членом кооператива/Залогодателем обязательств по Договору ссуды.
        </p>
        <p>
            3.1.9. Получить недостающую сумму по своему усмотрению из другого имущества Члена кооператива/Залогодателя, если суммы, вырученной от реализации Предмета залога, недостаточно для полного удовлетворения требований Кооператива/Залогодержателя.
        </p>
        <p>
            3.2. Член кооператива/Залогодатель вправе:
        </p>
        <p>
            3.2.1. Пользоваться Предметом залога в соответствии с его характером и целевым назначением.
        </p>
        <p>
            3.2.2. Погасить досрочно обязательства, обеспеченные Предметом залога, письменно предупредив об этом Кооператив/Залогодержателя за 15 дней до предполагаемой даты такого погашения.
        </p>

		<br>
		<p class="title2">
			4. ВНЕСУДЕБНЫЙ ПОРЯДОК ОБРАЩЕНИЯ ВЗЫСКАНИЯ НА ПРЕДМЕТ ЗАЛОГА
		</p>
		<p>
            4.1. Обращение взыскания на заложенное недвижимое имущество инициируется при систематическом нарушении
            исполнения обязательств более чем на три последовательных месяца, предшествующих дате направления извещения
            о начале процедуры обращения взыскания на Предмет залога во внесудебном порядке.
        </p>
        <p>
            4.2. Обращение взыскания на Предмет залога во внесудебном порядке осуществляется на основании настоящего
            Договора о залоге, нотариально удостоверенного между Кооперативом/Залогодержателем и Членом
            кооператива/Залогодателем.
        </p>
        <p>
            4.3. Обращение взыскания на Предмет залога по Договору о залоге об удовлетворении требований залогодержателя
            во внесудебном порядке осуществляется после направления извещения.
        </p>
        <p>
            4.4. Подписанием настоящего Договора Стороны подтверждают, что установлен внесудебный порядок обращения
            взыскания на Предмет залога, ни одна из Сторон не может в одностороннем порядке изменить порядок обращения
            взыскания или иным способом отказаться от установленного Договором порядка обращения взыскания на Предмет залога.
            При этом после возникновения основания для обращения взыскания на предмет залога стороны вправе дополнительным
            соглашением предусмотреть иной, отличный от первоначально определенного договором о залоге и/или
            соглашением, порядок внесудебного обращения взыскания на Предмет залога.
        </p>
        <p>
            4.5. Если сумма денег, полученная после реализации Предмета залога, превышает размер обеспеченного залогом
            требования Кооператива/Залогодержателя, то разница возвращается Члену кооператива/Залогодателю.
        </p>
        <p>
            4.6. В случае если сумма, вырученная при реализации заложенного имущества, недостаточна для покрытия требований
            Кооператива/Залогодержателя, он имеет право, при отсутствии иного указания в Договоре, получить недостающую
            сумму из прочего имущества должника, не пользуясь преимуществом, основанным на залоге.
        </p>
        <p>
            4.7. Член кооператива/Залогодатель обязан обеспечить передачу Кооперативу/Залогодержателю или его уполномоченному
            представителю, включая организатора торгов Предмета залога.
        </p>
        <p>
            4.8. Право собственности на Предмет залога возникает у Кооператива/Залогодержателя с момента регистрации в
            уполномоченном государственном органе протокола о результатах торгов.
        </p>
        <p>
            4.9. В случае если передаче Предмета залога препятствует третья сторона, то Член кооператива/Залогодатель,
            Кооператив/Залогодержатель или их уполномоченные представители вправе предпринять любые законные действия,
            необходимые для передачи Предмета залога.
        </p>
        <p>
            4.10. С момента получения Предмета залога и до момента его реализации Кооператив/Залогодержатель имеет
            права по отношению к Предмету залога, установленные законом или договором, включая право на улучшение
            Предмета залога путем осуществления уборки, реконструкции, ремонта и т.д. или на сокращение расходов по его
            реализации.
            Кооператив/Залогодержатель несет также обязанности по отношению к предмету залога, установленные законом или
            договором, включая обязанность по обеспечению его сохранности.
        </p>
        <p>
            4.11. После направления Кооперативом/Залогодержателем извещения о принудительном обращении взыскания он или его
            представитель приобретают право на вступление во владение соответствующим предметом залога, а в отношении
            зарегистрированного права требования по исполнению обязательств (по договору).
        </p>
        <p>
            4.12. После вступления во владение заложенным имуществом и до продажи по обращению взыскания
            Кооператив/Залогодержатель имеет права и обязанности по отношению к заложенному имуществу, установленные
            действующим законодательством в отношении заклада. Кооператив/Залогодержатель может предпринимать меры по
            увеличению цены продажи имущества посредством совершенствования в виде уборки, реконструкции, ремонта и
            завершения строительства или сокращению расходов по продаже.
        </p>

		<br>
		<p class="title2">
			5 СРОК ДЕЙСТВИЯ ДОГОВОРА
		</p>
		<p>
            5.1. Настоящий Договор вступает в силу с момента его государственной регистрации в уполномоченном
            государственном органе и прекращает свое действие:
        </p>
        <p>
            5.1.1. При полном выполнении Членом кооператива/Залогодателем обязательств по Договору ссуды, обеспечением
            которого является настоящий Договор, а также при выполнении Членом кооператива/Залогодателем всех своих
            обязательств по настоящему Договору.
        </p>
        <p>
            5.1.2. При переходе прав на Предмет залога Кооперативу/Залогодержателю.
        </p>

		<br>
		<p class="title2">
			6. ФОРС-МАЖОР
		</p>
		<p>
            6.1. В случае, если после заключения настоящего Договора, законодательством устанавливаются новые правила,
            ухудшающие договорные права Кооператива/Залогодержателя или Члена кооператива/Залогодателя, условия настоящего
            Договора сохраняют силу без изменений на весь срок его действия.
        </p>
        <p>
            6.2. В случае принятия государственными органами или их должностными лицами решений, препятствующих выполнению
            Член кооператива/Залогодателем своих обязательств по настоящему Договору, Член кооператива/Залогодатель
            полностью принимает на себя все риски, от действия таких решений и его обязательства по настоящему Договору
            не прекращают свое действие.
        </p>
        <p>
            6.3. В случае, если неисполнение или ненадлежащее исполнение Членом кооператива/Залогодателем своих
            обязательств по настоящему Договору явиться следствием обстоятельств непреодолимой силы, таких как наводнение,
            пожар, землетрясение и другие природные либо техногенные катастрофы, а также военные действия, блокада,
            акты или действия государственных органов, введение чрезвычайного положения, массовые беспорядки и т.п.
            обязательства Членом кооператива/Залогодателем по настоящему Договору не прекращаются, а сроки исполнения
            могут быть соразмерно отодвинуты, с согласия Кооператива/Залогодержателя, на время действия таких обстоятельств.
        </p>

		<br><br><br><br><br><br><br>
		<p class="title2">
			7. ДРУГИЕ УСЛОВИЯ
		</p>
        <p>
            7.1. Реализация Предмета залога, на который обращается взыскание, осуществляется в соответствии с
            законодательством Кыргызской Республики.
        </p>
        <p>
            7.2. Залог сохраняет силу, если право собственности и другие права на Предмет залога переходит к третьему лицу,
            а также в случаях уступки требования или перевода долга.
        </p>
        <p>
            7.3. При неисполнении либо не надлежащем исполнении обязательств по настоящему Договору одной из Сторон,
            убытки, понесенные другой Стороной, возмещаются за счет виновной Стороны.
        </p>
        <p>
            7.4. Основные положения Гражданского Кодекса КР, Закона КР «О залоге», касающиеся залога (недвижимого имущества),
            Сторонам известны до заключения настоящего Договора и его нотариального удостоверения.
        </p>
        <p>
            7.5. Условия настоящего Договора могут быть изменены и дополнены по взаимному соглашению Сторон в письменной форме.
        </p>
        <p>
            7.6. Споры, возникающие в ходе исполнения настоящего Договора, рассматриваются в порядке, предусмотренном
            законодательством Кыргызской Республики.
        </p>
        <p>
            7.7. Настоящий Договор составлен в четырех экземплярах, по одному для Сторон, для нотариальной конторы и для
            уполномоченного государственного органа.
        </p>
        <p>
            7.8. Расходы по заключению настоящего Договора, его регистрации в уполномоченном государственном органе и
            нотариальной конторе несет Член Кооператива/Залогодатель.
        </p>
        <p class="title2">
            8. Адреса, реквизиты и подписи Сторон
        </p>

		<table cellspacing="0" cellpadding="0" width="699">
			<tbody>
				<tr>
                    <td width="341" valign="top">
                        <p style="width: 300px">
                            {% if object.user_region.region_title %}
                                {% autoescape off %}
                                    {{object.user_region.region_title}}
                                {% endautoescape %}
                            {% else %}
                                Некоммерческий жилищно-накопительный кооператив взаимопомощи  «Один Шаг к Будущему»
                            {% endif %}
                        </p>
                        <p>
                            {% if object.user_region.region_address %}
                                {% autoescape off %}
                                    {{object.user_region.region_address}}
                                {% endautoescape %}
                            {% else %}
                                Юридический адрес. Бишкек, <br>ул.Севастопольская д. 12
                            {% endif %}
                        </p>
                        <p>
                            ИНН:
                            {% if object.user_region.region_inn %}
                                {{object.user_region.region_inn}}
                            {% else %}
                                01510201910197
                            {% endif %}
                        </p>
                        <p>
                            ОКПО:
                            {% if object.user_region.region_okpo %}
                                {{object.user_region.region_okpo}}
                            {% else %}
                                30417660
                            {% endif %}
                        </p>

                        <p>
                            Номер тел: {% if object.user_region.region_phone %}
                            {{object.user_region.region_phone}} {% else %} +996 702 250538 {% endif %}
                        </p>
                        <p>
                            {% if object.user_agreement.agreement_chairman %}
                                {{object.user_agreement.agreement_chairman}}
                            {% else %}
                                {% if object.user_region.region_director %}
                                    {{object.user_region.region_director}}
                                {% else %}
                                    зам.председатель правление Кооператива Кенжегулов Б.А
                                {% endif %}
                            {% endif %}
                        </p>
                        <br>
                        <p>
                            Подпись и Печать
                        </p>
                        <p>___________________ </p>
                    </td>

                    <td width="341" valign="top" style="margin-left: 15px;">
                        <p>
                            Член Кооператива
                        </p>
                        <p>
                            <b> {{ object.user_full_name }} </b>
                        </p>
                        <p>
                            Место проживания: <b> {{ object.user_passport_address }} </b>
                        </p>
                        <p>
                            Паспорт серии <b> {{ object.username.upper }} </b>
                        </p>
                        <p>
                            от <b> {{ object.user_passport_from_date }} </b>
                        </p>
                        <p>
                            Выдан <b> {{ object.user_passport_given_by }} </b>
                        </p>
                        <p>
                            ИНН:<b> {{ object.user_inn }} </b>
                        </p>
                        <p>
                            Контактный
                        </p>
                        <p>
                            Телефон 1: <b> {{ object.user_phone_number1 }} </b>
                        </p>
                        {% if object.user_phone_number2 %}
                            <p>
                                Телефон 2: <b> {{ object.user_phone_number2 }} </b>
                            </p>
                        {% endif %}
                        <br>
                        <br>
                        <p>
                            Подпись
                        </p>

                        <p>
                            <b> {{ last_name }} </b> __________
                        </p>
                    </td>
                </tr>
			</tbody>
		</table>

        <div style="margin-bottom: 70vh;"></div>
		<p>
			“_____” ___________ 20____ года. Настоящий Договор удостоверен мной,
			____________________________________ нотариусом {{ object.user_agreement.law_district }}. Договор подписан
			сторонами в моем присутствии. Личность сторон установлена, дееспособность их проверена.
		</p>
		<p style="margin: 10px 0;">
			Зарегистрировано в реестре за №______________
		</p>
		<p style="margin: 10px 0;">
			Взыскано государственной пошлины ____ сомов
		</p>
		<p style="margin: 10px 0;">
			Нотариус ______________
		</p><br>
	</div>
</body>

</html>