{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ДОГОВОР ССУДЫ | Келечек - Жилищный кооператив Кыргызстан,
        Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
        content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>

<body>
    <style>
        .title2 {
            text-align: center;
            font-weight: bold;
            margin: 10px 0;
        }

        p {
            margin: 0;
        }
    </style>
    <div style="padding: 25px 30px;">
        <p style="text-align: center; font-weight: bold; font-size: 20px; padding-top: 30px;">ДОГОВОР ССУДЫ
        </p>
        <p style="margin:20px 0">
            <b> {% if object.user_agreement.contract_city %}
                    {{object.user_agreement.contract_city}}
                {% else %}
                    г. Бишкек
                {% endif %}
            </b>
            <span style="float: right"><b>{{object.user_agreement.contract_date}}</b></span>
        </p>
        <p>
            {% if object.user_region.region_title %}
                {{object.user_region.region_title}}
            {% else %}
                Некоммерческий жилищно-накопительный кооператив взаимопомощи  «Один Шаг к Будущему»
            {% endif %}

            {% if object.user_agreement.agreement_chairman2 %}
                {{object.user_agreement.agreement_chairman2}}
            {% else %}
                Кенжегулова Байамана Анарбековича действующего на основании доверенности №565-2160 от 27.04.2021 года
            {% endif %}

            именуемый в дальнейшем «Кооператив», с одной стороны, гражданин(ка)
            <b> {{ object.user_full_name }}</b>, проживающая по адресу: <b> {{ object.user_passport_address }}</b>,
            (паспорт <b> {{ object.username.upper }}</b>, Выдан <b> {{object.user_passport_given_by }}</b> от <b> {{ object.user_passport_from_date }}</b>)
        </p>
            являющийся членом Кооператива, именуемый(-ая) в дальнейшем «Член кооператива», с другой стороны, совместно именуемые
            «Стороны», а по отдельности «Сторона», заключили настоящий договор (далее по тексту «Договор») о нижеследующем:

        <p class="title2">1. ПРЕДМЕТ ДОГОВОРА</p>
        <p>
            В соответствии с настоящим Договором Кооператив предоставляет, а Член кооператива получает на условиях возвратности
            ссуду для приобретения недвижимого имущества в рамках членства в Кооперативе
            (Договор об участии {{object.user_agreement.agreement_document_number}} от {{object.user_agreement.agreement_date}} года).
        </p>
        <p>
            1.2 По настоящему Договору Кооператив обязуется передать Члену кооператива ссуду в размере
            <strong> {{object.user_agreement.agreement_amount}} ({{object.user_agreement.agreement_amount_text}}) сом 00 тыйын </strong>.
        </p>
        <p>
            1.3 Денежные средства в виде ссуды будут перечислены Кооперативом на расчетный счет Члену кооператива,
            либо переданы в наличной форме на дату оформления права собственности на приобретаемую Членом кооператива
            недвижимость (заключение договора купли-продажи недвижимости в уполномоченном государственном органе
            между продавцом и Членом кооператива).
        </p>
        <p>
            1.4 Подтверждением получения Членом кооператива ссудных денежных средств является наличие бухгалтерских
            и банковских документов.
        </p>
        <p>
            1.5 Подтверждением использования Членом кооператива ссудных денежных средств по их назначению
            (приобретение недвижимости) является расписка продавца недвижимости о получении суммы ссуды в
            полном объеме в счет оплаты стоимости приобретаемой недвижимости.
        </p>

        <p class="title2">2. СРОКИ И ПОРЯДОК ИСПОЛНЕНИЯ ДОГОВОРА</p>
        <p>
            2.1 Кооператив предоставляет Члену кооператива ссуду сроком на
            <b>{{object.user_agreement.agreement_month}}</b> (<b>{{object.user_agreement.agreement_month_text}}</b>)
            календарных месяцев на условиях возвратности ежемесячными платежами, согласно Графику платежей – Приложение №1,
            которое является неотъемлемой и составной частью настоящего Договора, с окончательной датой погашения ссуды <b>«15» {{last_month|date:'F Y'}} г.</b>.
        </p>
        <p>
            2.2 Оплата по погашению ссуды Членом кооператива по Графику платежей осуществляется путем перечисления
            денежных средств на расчетный счет Кооператива, либо в наличной форме в кассу Кооператива.
        </p>
        <p>
            2.3 Под датой возврата ссуды понимается дата, когда сумма ссуды погашена полностью, а
            Член кооператива не имеет задолженности перед Кооперативом по настоящему Договору, в чем бы эта задолженность не выражалась.
        </p>
        <p>
            2.4 Под датой выдачи ссуды понимается дата зачисления суммы ссуды на расчетный счет члена Кооператива,
            либо передачи наличными на основании бухгалтерских документов.
        </p>
        <p>
            2.5 Срок действия настоящего Договора устанавливается с момента его подписания уполномоченными представителями
            Сторон, до полного погашения Членом кооператива задолженности перед Кооперативом.
        </p>
        <p class="title2">3. ОБЕСПЕЧЕНИЕ ССУДЫ</p>
        <p>
            3.1 В качестве обеспечения исполнения обязательств Члена кооператива перед Кооперативом по настоящему Договору,
            Член кооператива предоставляет недвижимое имущество, приобретенное за счет выдаваемой ссуды, а именно:
            - <b>{{object.user_agreement.agreement_home}}</b>
        </p>
        <p class="title2">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</p>
        <p>
            4.1 Кооператив имеет право:
        </p>
        <p>
            4.1.1 Запрашивать и получать от Члена кооператива всю необходимую информацию, в т.ч. о кредитной истории,
            о наличии кредитов в других финансово-кредитных учреждениях самого Члена кооператива, супруга(-и),
            родителей и детей Члена кооператива.
        </p>
        <p>
            4.1.2 Требовать от Члена кооператива соблюдения дисциплины погашения обязательств по Приложению №1 к настоящему Договору.
        </p>
        <p>
            4.1.3 Требовать от Члена кооператива использования ссуды по целевому назначению – приобретение жилой недвижимости.
        </p>
        <p>
            4.1.4 Продать или иным образом уступить все или какое-либо из прав, вытекающих из настоящего Договора любому
            третьему лицу в порядке, установленном действующим законодательством для уступки требования
        </p>
        <p>
            4.2 Кооператив обязан:
        </p>
        <p>
            4.2.1 Предоставить ссуду в сумме и на условиях, предусмотренных настоящим Договором.
        </p>
        <p>
            4.3 Член кооператива имеет право.
        </p>
        <p>
            4.3.1 Досрочно погасить Кооперативу часть задолженности по ссуде или всю задолженность, при условии уведомления
            об этом кооператив за 15 дней до предполагаемой даты осуществления такого досрочного погашения
        </p>
        <p>
            4.3.2 Передать третьим лицам (родственникам первой и второй линии родства) свои права и/или обязанности по
            настоящему Договору только после предварительного письменного согласия Кооператива с соблюдением соответствующих
            требований законодательства.
        </p>
        <p>
            4.4 Член кооператива обязан:
        </p>
        <p>
            4.4.1 Производить погашение ссуды согласно Приложению № 1, в соответствии с условиями настоящего Договора.
        </p>
        <p>
            4.4.2 Надлежащим образом исполнять свои обязательства предусмотренным Уставом, договором об участии
            и иными локальными актами Кооператива.
        </p>
        <p class="title2">5. РАЗРЕШЕНИЕ СПОРОВ</p>
        <p>6.1 Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам, не нашедшим своего разрешения
            в тексте данного Договора, будут разрешаться путем переговоров на основе действующего законодательства
            Кыргызской Республики
        </p>
        <p>6.2 При не урегулировании в процессе переговоров спорных вопросов между Сторонами, споры разрешаются в суде
            по месту нахождения Кооператива, в порядке, установленном действующим законодательством Кыргызской Республики</p>
        <p>
            6.3 Подписанием настоящего Договора Стороны также признают право Кооператива, в соответствии с действующим
            законодательством, на внесудебный порядок обращения взыскания на предмет залога в случае неисполнения или
            ненадлежащего выполнения Членом кооператива обеспеченного залогом обязательства.
        </p>
        <p class="title2">7. ФОРС-МАЖОР</p>
        <p>
            7.1 Стороны будут освобождены от ответственности за полное или частичное невыполнение ими своих обязательств,
            если неисполнение явилось следствием форс-мажорных обстоятельств.
        </p>
        <p>
            7.2 К форс-мажорным обстоятельствам относятся события, на которые Стороны не могут оказать влияние и за
            возникновение которых они не несут ответственность. В рамках настоящего Договора такими обстоятельствами
            Стороны считают: землетрясение, наводнение, смерч, пожар и другие стихийные бедствия, военные действия,
            гражданские волнения, забастовки, запрещения, изменения действующего законодательства, ограничения
            экономического и политического характера, непосредственно повлиявшие на исполнение обязательств по настоящему Договору.
        </p>
        <p>
            7.3 Сторона, для которой создалась невозможность исполнения обязательств, обязана в срок не позднее 15 дней
            с момента наступления и прекращения вышеуказанных обстоятельств, уведомить другую сторону об их наступлении
            и прекращении в письменной форме и/или любыми средствами связи
        </p>
        <p>
            7.4 С момента наступления форс-мажорных обстоятельств сроки обязательств по настоящему Договору отодвигаются
            на время действия таких обстоятельств.
        </p>
        <p>
            7.5 Если форс-мажорные обстоятельства будут продолжаться более трех месяцев, то Стороны встретятся, чтобы
            обсудить какие меры им следует принять по ликвидации последствий
        </p>
        <p class="title2">8. ОСОБЫЕ УСЛОВИЯ И ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
        <p>
            8.1 Условия настоящего договора и дополнительных соглашений к нему конфиденциальны, за разглашение которых
            Стороны несут ответственность в соответствии с действующим законодательством.
        </p>
        <p>
            8.2 При нарушении сроков возврата ссуды, предусмотренных Графиком платежей (Приложение №1 к настоящему Договору),
            Член кооператива выплачивает Кооперативу пеню в размере 0,1% от остатка ссуды за каждый день просрочки, но не более 20% от размера всей ссуды.
        </p>
        <p>
            8.3 При выходе из членства кооператива, Член кооператива обязан погасить все задолженности и выполнить иные
            обязательства, предусмотренные настоящим Договором, Уставом, договором об участии и иными локальными актами
            Кооператива.
        </p>
        <p>
            8.4 Любые изменения и/или дополнения к настоящему Договору действительны при условии, если они совершены в
            письменной форме и подписаны Кооперативом в лице его надлежаще уполномоченных представителей и Членом кооператива.
        </p>
        <p>
            8.5 Все уведомления и сообщения в рамках настоящего Договора должны направляться Сторонами друг другу в
            письменной форме по адресам, указанным в настоящем Договоре.
        </p>
        <p>
            8.6 Во всем, что не предусмотрено настоящим договором, стороны руководствуются действующим законодательством Кыргызской Республики
        </p>
        <p>
            8.7 Договор составлен в трех подлинных экземплярах, обладающих равной юридической силой, по одному экземпляру
            для каждой из Сторон, третий экземпляр для нотариальной конторы
        </p>
        <p class="title2">9. АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</p>
        <table cellspacing="0" cellpadding="0" width="693" style="font-size: 16px">
            <tbody>
                <tr>
                    <td width="341" valign="top">
                        <p style="width: 300px">
                            {% if object.user_region.region_title %}
                                {% autoescape off %}
                                    {{object.user_region.region_title}}
                                {% endautoescape %}
                            {% else %}
                                Некоммерческий жилищно-накопительный кооператив взаимопомощи  «Один Шаг к Будущему»
                            {% endif %}
                        </p>
                        <p>
                            {% if object.user_region.region_address %}
                                {% autoescape off %}
                                    {{object.user_region.region_address}}
                                {% endautoescape %}
                            {% else %}
                                Юридический адрес. Бишкек, <br>ул.Севастопольская д. 12
                            {% endif %}
                        </p>
                        <p>
                            ИНН:
                            {% if object.user_region.region_inn %}
                                {{object.user_region.region_inn}}
                            {% else %}
                                01510201910197
                            {% endif %}
                        </p>
                        <p>
                            ОКПО:
                            {% if object.user_region.region_okpo %}
                                {{object.user_region.region_okpo}}
                            {% else %}
                                30417660
                            {% endif %}
                        </p>
                        <p>
                            Номер тел: {% if object.user_region.region_phone %}
                            {{object.user_region.region_phone}} {% else %} +996 702 250538 {% endif %}
                        </p>
                        <p>
                            {% if object.user_agreement.agreement_chairman %}
                                {{object.user_agreement.agreement_chairman}}
                            {% else %}
                                {% if object.user_region.region_director %}
                                    {{object.user_region.region_director}}
                                {% else %}
                                    зам.председатель правление Кооператива Кенжегулов Б.А
                                {% endif %}
                            {% endif %}
                        </p>
                        <br>
                        <p>
                            Подпись и Печать
                        </p>
                        <p>___________________ </p>
                    </td>

                    <td width="341" valign="top" style="margin-left: 15px;">
                        <p>
                            Член Кооператива
                        </p>
                        <p>
                            <b> {{ object.user_full_name }} </b>
                        </p>
                        <p>
                            Место проживания: <b> {{ object.user_passport_address }} </b>
                        </p>
                        <p>
                            Паспорт серии <b> {{ object.username.upper }} </b>
                        </p>
                        <p>
                            от <b> {{ object.user_passport_from_date }} </b>
                        </p>
                        <p>
                            Выдан <b> {{ object.user_passport_given_by }} </b>
                        </p>
                        <p>
                            ИНН:<b> {{ object.user_inn }} </b>
                        </p>
                        <p>
                            Контактный
                        </p>
                        <p>
                            Телефон 1: <b> {{ object.user_phone_number1 }} </b>
                        </p>
                        {% if object.user_phone_number2 %}
                            <p>
                                Телефон 2: <b> {{ object.user_phone_number2 }} </b>
                            </p>
                        {% endif %}
                        <br>
                        <br>
                        <p>
                            Подпись
                        </p>

                        <p>
                            <b> {{ last_name }} </b> __________
                        </p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>