{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Создать договор | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Создать договор</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Создать договор</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->


<div class="container p-tb-2">
    <div class="col-md-12">
        <form id="post_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.agreement_city|as_crispy_field }}
                <div id="div_id_deposit_date" class="form-group">
                    <label for="id_deposit_date" class="">
                        Дата договора о залоге
                    </label>
                    <div class="">
                        <input type="date" name="deposit_date" value="{{ object.deposit_date|date:'Y-m-d' }}"
                            class="dateinput form-control" id="id_deposit_date">
                    </div>
                </div>
                {{ form.deposit_date_text|as_crispy_field }}
                {{ form.agreement_by_whom|as_crispy_field }}
                {{ form.agreement_amount|as_crispy_field }}
                {{ form.agreement_amount_text|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.agreement_month|as_crispy_field }}
                {{ form.agreement_month_text|as_crispy_field }}
                {{ form.agreement_home|as_crispy_field }}
                {{ form.law_district|as_crispy_field }}
                {{ form.deposite_by|as_crispy_field }}

                <input style="margin-top: 25px" class="btn btn-success" type="submit" name="submit" value="Изменить">
            </div>
        </form>
    </div>
</div>
{% endblock %}