{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Создать договор | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Создать договор</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Создать договор</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->


<div class="container p-tb-2">
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
            {% csrf_token %}
            <div id="div_id_contract_date" class="form-group">
                <label for="id_contract_date" class="">
                    Дата договора ссуды
                </label>

                <div class="">
                    <input type="date" value="{{object.contract_date|date:'Y-m-d' }}" name="contract_date"
                        class="dateinput form-control" id="id_contract_date">
                </div>

            </div>
            {{ form.agreement_amount|as_crispy_field }}
            {{ form.agreement_amount_text|as_crispy_field }}
            {{ form.agreement_month|as_crispy_field }}
            {{ form.agreement_month_text|as_crispy_field }}
            <input style="margin-top: 25px" class="btn btn-success" type="submit" name="submit" value="Изменить">
        </div>
        <div class="col-md-6">
            {{ form.contract_city|as_crispy_field }}
            {{ form.agreement_chairman2|as_crispy_field }}
            {{ form.agreement_home|as_crispy_field }}
        </div>
    </form>
</div>
{% endblock %}