{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Создать договор | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Создать договор</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Создать договор</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<div class="container p-tb-2">

    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6">
            <div id="div_id_prilojenie_date" class="form-group">
                <label for="id_prilojenie_date" class="">
                    Дата Договора об участии
                </label>


                <div class="">
                    <input type="date" value="{{object.prilojenie_date|date:'Y-m-d' }}" name="prilojenie_date"
                        class="form-control dateinput" required="" id="id_prilojenie_date">
                </div>
            </div>

            {{form.prilojenie_count|as_crispy_field}}
            {{form.prilojenie_count_text|as_crispy_field}}
        </div>
        <div class="col-md-6">

            <input style="margin-top: 25px" class="btn btn-success" type="submit" name="submit" value="Изменить">
        </div>
    </form>
</div>
{% endblock %}