{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Приложение к договору об участии №2| Келечек - Жилищный кооператив Кыргызстан, Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
        content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>
<style>
    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>

<body>
    <style>
        p {
            margin: 0;
        }

        .padding-bottom {
            padding-bottom: 10px;
        }

        td {
            padding: 10px;
        }

        .text-center {
            text-align: center;
        }
    </style>

    <p class="padding-bottom">Приложение №1 к Договор об участии в НЖНКВ «Один Шаг к Будущему» №
        {{object.user_agreement.agreement_document_number}}</p>
    <p class="padding-bottom">от {{object.user_agreement.contract_date}}</p>
    <p class="padding-bottom">
        <strong>Накопления</strong>
        - 6 (шести) месяцев.
    </p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan=4>
                    <h4 style="text-align: center;">График</h4>
                </td>
            </tr>
            <tr class="text-center">
                <td width="30" nowrap="" valign="bottom">
                    <p>№</p>
                </td>
                <td width="140" nowrap="" valign="bottom">
                    <p>Дата погашения</p>
                </td>
                <td width="140" nowrap="" valign="bottom">
                    <p>Первоначальный взнос</p>
                </td>
                <td width="72" nowrap="" valign="bottom">
                    <p>Итого</p>
                </td>
            </tr>

            {% for i, x in application_info %}
            <tr>
                <td class="counterCell"></td>
                <td>15 {{i}}</td>
                <td>{{object.user_agreement.home_month_price}}</td>
                <td>{{x}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" style="text-align: right;"><strong>Итого накоплено</strong></td>
                <td><strong>0</strong></td>
                <td><strong>{{last_summ}}</strong></td>
            </tr>

            <tr>
                <td width="341" valign="top">
                    <p style="width: 300px">
                        {% if object.user_region.region_title %}
                            {% autoescape off %}
                                {{object.user_region.region_title}}
                            {% endautoescape %}
                        {% else %}
                            Некоммерческий жилищно-накопительный кооператив взаимопомощи «Один Шаг к Будущему»
                        {% endif %}
                    </p>
                    <p>
                        {% if object.user_region.region_address %}
                            {% autoescape off %}
                                {{object.user_region.region_address}}
                            {% endautoescape %}
                        {% else %}
                            Юридический адрес. Бишкек, <br>ул.Севастопольская д. 12
                        {% endif %}
                    </p>
                    <p>
                        ИНН:
                        {% if object.user_region.region_inn %}
                            {{object.user_region.region_inn}}
                        {% else %}
                            01510201910197
                        {% endif %}
                    </p>
                    <p>
                        ОКПО:
                        {% if object.user_region.region_okpo %}
                            {{object.user_region.region_okpo}}
                        {% else %}
                            30417660
                        {% endif %}
                    </p>

                    <p>
                        Номер тел: {% if object.user_region.region_phone %}
                        {{object.user_region.region_phone}} {% else %} +996 702 250538 {% endif %}
                    </p>
                    <p>
                        {% if object.user_agreement.agreement_chairman %}
                            {{object.user_agreement.agreement_chairman}}
                        {% else %}
                            {% if object.user_region.region_director %}
                                {{object.user_region.region_director}}
                            {% else %}
                                зам.председатель правление Кооператива Кенжегулов Б.А
                            {% endif %}
                        {% endif %}
                    </p>
                    <br>
                    <p>
                        Подпись и Печать
                    </p>
                    <p>___________________ </p>
                </td>

                <td width="341" valign="top" style="margin-left: 15px;">
                    <p>
                        Член Кооператива
                    </p>
                    <p>
                        <b> {{ object.user_full_name }} </b>
                    </p>
                    <p>
                        Место проживания: <b> {{ object.user_passport_address }} </b>
                    </p>
                    <p>
                        Паспорт серии <b> {{ object.username.upper }} </b>
                    </p>
                    <p>
                        от <b> {{ object.user_passport_from_date }} </b>
                    </p>
                    <p>
                        Выдан <b> {{ object.user_passport_given_by }} </b>
                    </p>
                    <p>
                        ИНН:<b> {{ object.user_inn }} </b>
                    </p>
                    <p>
                        Контактный
                    </p>
                    <p>
                        Телефон 1: <b> {{ object.user_phone_number1 }} </b>
                    </p>
                    {% if object.user_phone_number2 %}
                        <p>
                            Телефон 2: <b> {{ object.user_phone_number2 }} </b>
                        </p>
                    {% endif %}
                    <br>
                    <br>
                    <p>
                        Подпись
                    </p>

                    <p>
                        <b> {{ last_name }} </b> __________
                    </p>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>