{% extends 'base.html' %}
{% load static %}
{% block title %}
О Кооперативе |
{% endblock %}
{% block description %}
Жилищный кооператив в Бишкеке. Доступное жилье вместе с жилищным кооперативом Келечек - альтернатива ипотечным займам. Арендное жилье с последующий выкупом.
{% endblock %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>О Кооперативе</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>О Кооперативе</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
    <!-- about-area start -->
    <div class="about-area about-area-2 bg-color area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-image">
                        <img src="{% static 'img/about.jpg' %}" alt="" class="ab-first-img">
                    </div>
                </div>
                <!-- column end -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-content">
                        <div class="about-inner">
                            <h3>Жилищный кооператив «Келечек»</h3>
                            <p>Кооператив осуществляет свою деятельность в соответствии Гражданским кодексом Кыргызской
                                Республики, Законом Кыргызской Республики «О кооперативах» 30 апреля 2004 года №70,
                                другими нормативными правовыми актами Кыргызской Республики и настоящим уставом.
                                Кооператив «Келечекке Бир Кадам» (официальное название) был создан по решению общего
                                собрания, состоявшегося «30» сентября 2019 года.</p>
                            <p>Целью Кооператива является совместное удовлетворение потребностей членов Кооператива в
                                недвижимом имуществе.</p>
                            <p><b>Приобрети квартиру вместе с нами по очень выгодным условиям!</b></p>
                            <p>Жилищный кооператив «Келечек» предоставляет возможность приобрести квартиру в рассрочку
                                сроком на 10 лет без%. Программа нацелена на слой населения, которое не может приобрести
                                квартиру сразу. Так же вы можете проживать или сдавать в аренду эту квартиру, что
                                облегчит ваши ежемесячные платежи. Зачем снимать квартиру и выплачивать ежемесячно за
                                чужую квартиру? </p>
                        </div>
                    </div>
                </div>
                <!-- column end -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="about-content">
                        <div class="about-inner">
                            <p><b>Пришло время вкладывать деньги в свое будущее и в свою недвижимость!</b><br>
                                Покупку квартиры за полный наличный расчет может позволить не каждый, поэтому приходится
                                искать средства на стороне, например, обратиться в банк за получением кредита под
                                достаточно большой процент. Но есть альтернативный, более доступный вариант покупки
                                квартиры - вступление в жилищный кооператив.</p>
                            <p>«Жилищный кооператив — это некоммерческая организация, а не кредитная, перед ним
                                не стоит цель получить доход и прибыль. Его единственная уставная цель — улучшение
                                жилищных условий пайщиков, поэтому никаких процентов с предоставленных кооперативом
                                денег ЖК не взимает.</p>
                            <p>Единственные траты пайщика — это расходы, связанные с самой процедурой приобретения
                                квартиры и целевые взносы, необходимые для содержания самой организации: маркетинговые
                                расходы, зарплата штатных сотрудников, аренда офиса, и т. п. Переплата даже с учетом
                                всех этих взносов для пайщика составит от 24000 сом до 240000 сом не зависимо от
                                стоимости квартиры. Это цена зависит от количества лет рассрочки (от 1 года до 10 лет).
                                В то время как процентная ставка на ипотеку у банков составляет в среднем 10-15 %, а
                                переплата — в зависимости от срока кредитования, может составить 80-300 %, в то время
                                как жилищный кооператив предлагает условия с нулевой рассрочкой.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- about-area end -->

{% endblock %}