{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>панель управления</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<!-- Welcome service area start -->
<div class="welcome-area welcome-area-2 area-padding-2">
    <div class="container">
        {% if user.is_superuser or user.is_moderator %}
        <h1>Управление для модератора сайта</h1>
        <div class="row">
            <div class="well-inner">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'news_create' %}"><i class="fa fa-newspaper-o"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'news_create' %}">Добавление <br>Новости</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'news_received' %}"><i class="fa fa-list-alt"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'news_received' %}">Список новостей</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'faq_received' %}"><i class="fa fa-question-circle"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'faq_received' %}">Ожидающие проверки <br> Вопросы</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'faq_published' %}"><i class="fa fa-list-ol"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'faq_published' %}">Опубликованные<br> Вопросы</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'ads_unchecked' %}"><i class="fa fa-check-circle-o"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'ads_unchecked' %}">Ожидающие
                                    проверки<br>Объявления</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'ads_list' %}"><i class="fa fa-navicon"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'ads_list' %}">Опубликованные
                                    <br>Объявления</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
            </div>
        </div>
        {% endif %}
        <div class="col-md-12"></div>
        {% if user.is_superuser or user.user_is_operator %}
        <h1>Управление для оператора</h1>
        <div class="row">
            <div class="well-inner">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'signup' %}">Регистрация <br>Участника</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'users_list' %}"><i class="fa fa-users"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'users_list' %}">Список <br>Участников</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'users_given_list' %}"><i class="fa fa-user-times"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'users_given_list' %}">Список <br>Получивших</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'protocol_list' %}"><i class="fa fa-list"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'protocol_list' %}">Список <br>решений</a></h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                

            </div>
        </div>
        {% endif %}
        <div class="col-md-12"></div>


        {% if user.is_superuser %}
        <div class="row">
            <div class="well-inner">

                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'operator_signup' %}"><i class="fa fa-user-plus"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'operator_signup' %}">Регистрация<br>Оператора</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'operators_list' %}"><i class="fa fa-users"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'operators_list' %}">Список<br>Операторов</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'notification_list' %}"><i class="fa fa-list-ol"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'notification_list' %}">Список<br>Оповещений</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->

            </div>
        </div>
        <h1>Управление для голосования</h1>
        <div class="row">
            <div class="well-inner">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well-services admin-well-services">
                        <div class="well-icon">
                            <a href="{% url 'quotes:votes' %}"><i class="fa fa-user-plus"></i></a>
                        </div>
                        <div class="well-content">
                            <h3><a href="{% url 'quotes:votes' %}">Список
                                <br>вопросов</a></h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
        <div class="col-md-12"></div>

    </div>
</div>
<!-- Welcome service area End -->

{% endblock %}