{% extends 'base.html' %}
{% load static %}
{% block title %}
Преимущества |
{% endblock %}
{% block description %}
Главным приемуществом и гарантом вступления в наш Жилищный Кооператив является Оформление всех документов на Вас! Такое условие по городу существует только в нашем ЖК. Это сделано для того,чтобы между пайщиком и кооперативом было больше доверия.
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Преимущества</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>преимущества</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-well">
                    <div class="page-img elec-page">
                        <img src="{% static 'img/advantages.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-well">
                    <h4>Сделай вклад в свое будущее!</h4>
                    <p>Главным приемуществом и гарантом вступления в наш ЖК является Оформление всех документов на Вас!
                        Такое условие по городу существует только в нашем ЖК.
                        Это сделано для того,чтобы между пайщиком и кооперативом было больше доверия.
                        Наша работа ведется честно и прозрачно.
                        Как мы знаем в других ЖК приобретенное имущество офомляется на кооператив,
                        а не на пайщика ,внесшего средства.</p>
                    <p>

                        Поскольку жилищный кооператив не является банком и общая касса кооператива пополняется за счет денежных средств
                        спонсоров и вкладов пайщиков,квартиры для членов кооператива в итоге будут стоить примерно вдвое дешевле ,
                        чем для заемщиков ипотеки. Целесообразно этому,одним из главных приемуществ является наиболее дешевый способ покупки жилья.
                        Помимо этого, жилищный кооператив приобретает жилье без разных посредников,
                        что, вкупе с налоговыми вычетами, также существенно уменьшает его стоимость</p>

                </div>
            </div>
        </div>
        <!-- end Row -->

        <div class="row" style="padding-bottom: 20px">
            <div class="choose-all">
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-arrow-circle-o-down"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">1.	 Самый низкий вступительный(4%) и первоначальный взнос (25%) в Кыргызстане</a></h4>

                        </div>
                    </div>
                </div>

                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-arrow-circle-o-down"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">2.	Минимальный паевой взнос- 2000 сом в месяц</a></h4>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-newspaper-o"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">3.	Документы на недвижимость оформляются на вас!</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-users"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">4.	Возможность передачи пая третьему лицу являющимся родственником члена кооператива</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-bank"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">5.	Паевой фонд жилищного
                                кооператива сосредоточен на счете в Айыл банке
                                . </a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-credit-card-alt"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">6.	Рассрочка на 10 лет.</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-money"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">7.	Все сделки в кооперативе «Келечек» осуществляются в национальной валюте КР</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-renren"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">8.	Возможность – сдавать в аренду приобретённую недвижимость</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-circle"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">9.	Кооператив «не может» закрыть кооперативную деятельность, либо обанкротиться</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-exchange"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">10.	Возможность выхода из кооператива с возвратом первоначального взноса(25%)</a></h4>

                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-choose">
                        <a class="choose-images" href="#"><i class="fa fa-check"></i></a>
                        <div class="choose-content">
                            <h4><a href="#">11.	Проверять финансовую деятельность и расход денежных средств кооператива</a></h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}