{% extends 'base.html' %}
{% load static %}
{% block title %}
Условия приобретения |
{% endblock %}
{% block description %}
Наш жилищный кооператив в Бишкеке предоставляет условия 1. Вступительный взнос- 4 % от стоимости квартиры, 2. Первоначальный взнос – 25% от стоимости квартиры, 3. Ежемесячные выплаты – 2000 сом.
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Условия приобретения</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Условия</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


     <!-- Start Service area -->
    <div class="choose-area fix" data-stellar-background-ratio="0.6">
        <div class="container-full">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="choose-wrapper">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="center-headline">
                                    <h2>Выплаты</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="choose-all">
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-percent"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">1.	Вступительный взнос- 4 % от стоимости квартиры</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-percent"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">2.	Первоначальный взнос – 25% от стоимости квартиры</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-percent"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">3.	Ежемесячные выплаты – 2000 сом.</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="center-headline">
                                    <h2>Документы</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="choose-all">

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-book"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">1.
                                                Паспорт</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="center-headline">
                                    <h2>Условия</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="choose-all">
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-arrow-up"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">1.	Членами кооператива могут быть граждане Кыргызской Республики, достигшие 18-летнего возраста.</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-bars"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">2.	Недвижимость может быть приобретена только в пределах Чуйской области Кыргызской Республики</a></h4>
                                        </div>
                                    </div>
                                </div>

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-building-o"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">3.	Через наш кооператив вы можете приобрести: вторичное жилье, первичное жилье и частный дом</a></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->

{% endblock %}