{% extends 'base.html' %}
{% load static %}
{% block title %}
Контакты |
{% endblock %}
{% block description %}
Жилищный кооператив Келечек Кыргызстан, Бишкек. Адрес: г. Бишкек, ул. Фурманова д. 12, тел:+996 (703) 400-200, email:info@kelechek.kg
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Связаться с Нами</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Контакты</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
    <!-- Start contact Area -->
    <div class="contact-page area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-details">
                        <div class="contact-icon">
                            <div class="single-contact">
                                <h5>Кыргызстан </h5>
                                <a href="#"><i class="fa fa-map"></i><span>г. Бишкек, ул. Фурманова д. 12</span></a>
                                <a href="tel:+996773400200"><i class="fa fa-phone"></i><span>+996 (773) 400-200</span></a>
                                <a href="tel:+996553400200"><i class="fa fa-phone"></i><span>+996 (553) 400-200</span></a>
                                <a href="tel:+996703400200"><i class="fa fa-phone"></i><span>+996 (703) 400-200</span></a>
                                <a href="#"><i class="fa fa-envelope"></i><span>info@kelechek.kg</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End contact icon -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="faq_phone" type="text" id="name" class="form-control"
                                           placeholder="Телефон" required data-error="Введите Ваш телефон">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="faq_email" type="email" class="email form-control" id="email"
                                           placeholder="Email" required data-error="Введите Вашу почту">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input name="faq_name" type="text" id="msg_subject" class="form-control"
                                           placeholder="ФИО" required data-error="Введите Ваше ФИО">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="faq_question" id="message" rows="7" placeholder="Сообщение"
                                              class="form-control" required
                                              data-error="Введите Ваше сообщение"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" id="submit" class="contact-btn">Отправить</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End contact Form -->
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
{% endblock %}
