{% extends 'base.html' %}
{% load static %}
{% block title %}
Критерии покупки |
{% endblock %}
{% block description %}
Основная выгода жилищного кооператива Бишкек - это то ,что вам не нужно переплачивать за свою квартиру,не нужно собирать множество документов. Выбор за вами!Выплачивать огромный процент за ипотеку или купить квартиру в рассрочку без %.
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Критерии покупки</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Критерии</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="single-well">
                <div class="page-img elec-page">
                    <img src="{% static 'img/criteria.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="single-well">
                <h4>Сделай один шаг к будущему вместе с Нами!</h4>
                <p>Основная выгода жилищного кооператива это то ,что вам не нужно переплачивать за свою квартиру,
                    не нужно собирать множество документов.Критерии подбора квартиры не создадут дополнительных преград, на пути к получению желаемой Вами недвижимости!
                    Выбор за вами!Выплачивать огромный процент за ипотеку или купить квартиру в рассрочку без %.</p>
                <p>

                    Все критерии представлены так ,чтобы пайщику было наиболее проще и быстрее получить свою недвижимость .
                    Как вы видите критерии не так строги.Зачастую в случае с ипотечным займом бывает так,
                    что вы нашли квартиру ,но не подходит год постройки и вам отказывают в ипотеке.И таких примеров много.</p>

            </div>
        </div>
    </div>
    <!-- end Row -->

    <div class="row fix">
        <div class="service-feature-content">

            <!-- Start column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-feature-inner">
                    <div class="feature-service">
                        <i class="icon icon-chart-bars"></i>
                        <h5>Недвижимость может быть приобретена только в пределах Чуйской области.</h5>
                    </div>
                    <div class="service-feature-text">
                        <p>На данный момент наш офис базируется в Чуйской области в городе Бишкек.
                            В связи с этим наши услуги распространяются в пределах этой области.</p>
                    </div>
                </div>
            </div>
            <!-- End column -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-feature-inner">
                    <div class="feature-service">
                        <i class="icon icon-cloud"></i>
                        <h5>Вид недвижимости</h5>
                    </div>
                    <div class="service-feature-text">
                        <p>В нашем кооперативе можно приобрести: первичное жилье,вторичное жилье и частный дом.
                            В случае с первычным и вторичным  жильем должен быть тех.
                            паспорт,в случае с частным домом соответственно должна быть красная книга. </p>
                    </div>
                </div>
            </div>
            <!-- End column -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-feature-inner">
                    <div class="feature-service">
                        <i class="icon icon-layers"></i>
                        <h5>Недвижимость должна быть без каких-либо ограничений.
                           </h5>
                    </div>
                    <div class="service-feature-text">
                        <p>В том числе прав третьих лиц, за исключением права проживания членов семьи собственника,
                            не должен находиться под арестом,
                            а право собственности на него недолжно являться предметом судебного спора.</p>
                    </div>
                </div>
            </div>
            <!-- End column -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-feature-inner">
                    <div class="feature-service">
                        <i class="icon icon-leaf"></i>
                        <h5>Недвижимость должна быть введена в эксплуатацию.</h5>
                    </div>
                    <div class="service-feature-text">
                        <p>То есть если первичное жилье находиться на этапе построение и не имеет соответствующих документов мы не можем вам ее приобрести.
                            Мы работаем только с недвижимостью, которая введена в эксплуатацию и имеет соответствующие документы.
                            Так как мы оформляем документы на недвижимость на Вас!</p>
                    </div>
                </div>
            </div>
            <!-- End column -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-feature-inner">
                    <div class="feature-service">
                        <i class="icon icon-license"></i>
                        <h5>Максимальная сумма недвижимости составляет 2 800 000 сом</h5>
                    </div>
                    <div class="service-feature-text">
                        <p>Советом всех членов жилищного кооператива «Келечек» была принята максимальная сумма
                            приобретения недвижимости.
                            Эта сумма является оптимальной для,
                            того чтобы каждый пайщик как можно быстрее получил свою желанную недвижимость.</p>
                    </div>
                </div>
            </div>
            <!-- End column -->

        </div>
    </div>
    <!-- end Row -->
</div>
{% endblock %}