{% extends 'base.html' %}
{% load static %}
{% block title %}
Устав |
{% endblock %}
{% block description %}
Устав - жилищный кооператив келечек Бишкек
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Устав</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Устав</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


     <!-- Start Service area -->
    <div class="choose-area fix" data-stellar-background-ratio="0.6">
        <div class="container-full">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="choose-wrapper">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="center-headline">
                                    <h2>Всего пару шагов и Ваша мечта сбудется!</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="choose-all">

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-sticky-note"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">1.
                                                Заявление</a></h4>
                                            <p>Заполнить заявление вступление в жилищный кооператив Келечек.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-book"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">2.
                                                Договор</a></h4>
                                            <p>Заключить Договор об участие в некоммерческом ЖК «Один Шаг к
                                                Будущему»</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-money"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">3. Оплата</a></h4>
                                            <p>Внесение вступительного взноса 4% от общей суммы приобретаемой
                                                недвижимости и первоначального взноса 25% от общей суммы приобретаемой
                                                недвижимости
                                                Оплата проходит в отделениях
                                                банка «Айыл банк» на счет
                                                Кооператива.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-check-square-o"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">4. Выбор
                                                недвижимости</a></h4>
                                            <p>Вы можете подобрать любую недвижимость сами на рынке Кыргызстана (в
                                                пределах Чуйской обл.). Она должна иметь соответствующие документы
                                                (Красная книга, тех. паспорт)</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-building"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">5. Покупка
                                                недвижимости.</a></h4>
                                            <p>Документы оформляются на вас. </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->

    <div class="container" style="padding-top: 40px; padding-bottom: 20px">
    <p>Процесс проходит достаточно быстро и просто!
        Для того ,чтобы вступить наш кооператив не нужно собирать стопу документов.
        Достаточно всего паспорт.
        У нас нет строгих критериев к отбору недвижимости ,
        зачастую в ипотечном займе бывает так ,
        что ты нашел недвижимость ,но не подходит год постройки и т д.</p>
    <p>
       Для получения ипотеки придется собрать внушительную стопу документов,
        включая и обязательное подтверждение доходов.
        Рассматривать их банк будет от 3 дней до 2 недель.
        По итогам всех проверок вам могут отказать в получении кредита,
        не объясняя причины.
        При этом услуга рассмотрения документов может быть платная.
    </p>
    <p>
        В случае с ЖК ваши официальные доходы, не имеют никакого значения,
        потому что взаимоотношения пайщиков и ЖК определены Жилищным Кодексом,
        и объект находится в собственности пайщика,
        но в обременении со стороны ЖК.
    </p>
    </div>
{% endblock %}