@media (min-width: 1920px) {


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
    .header-right-link a.main-search {
        padding: 27px 0px 27px 10px;
    }

    .main-menu ul.navbar-nav > li > a {
        padding: 37px 0px;
    }

    .header-area.stick .main-menu ul.navbar-nav li a {
        padding: 28px 0px;
    }

    .header-area.stick .header-right-link a.main-search {
        padding: 19px 0px 19px 10px;
    }

    .about-image {
        margin-right: 50px;
    }

    .blog-search-option input {
        width: 77%;
    }

    .blog-content a h4 {
        font-size: 18px;
    }

    .project-history {
        padding: 30px 15px;
    }

    .project-2 .add-actions {
        padding: 30px 15px;
    }

    .feature-service i {
        margin-right: 10px;
    }

    .feature-service h5 {
        font-size: 14px;
    }

    .single-services-page p {
        font-size: 14px;
    }

    .support-text {
        padding: 20px 10px;
    }

    .support-text h4 {
        font-size: 22px;
    }

    .support-text p {
        font-size: 15px;
    }

    .left-menu ul li a {
        font-size: 15px;
        padding: 8px 0px;
    }

    .fullwith-page .feature-service h5 {
        font-size: 17px;
    }

    .services-headline p {
        font-size: 14px;
    }

    .fun-content {
        padding: 50px 15px;
    }

    .fun-icon i {
        font-size: 48px;
        line-height: 60px;
    }

    .fun_text span {
        font-size: 36px;
    }

    .fun_text {
        padding-left: 60px;
    }

    .fun_text > h5 {
        font-size: 15px;
    }

    .single-choose .choose-content h4 {
        font-size: 16px;
    }

    .slider-content {
        margin-top: -130px;
    }

    .layer-1 h1 {
        font-size: 48px;
        line-height: 58px;
        margin: 0px 0px 30px;
        max-width: 600px;
    }

    .intro-area-3 .layer-1 h1 {
        font-size: 42px;
        line-height: 54px;
        max-width: 610px;
        margin: 0px 0px 30px;
    }

    .intro-area-3 .slider-content {
        margin-top: -70px;
    }

    .intro-area-2 .layer-1 h1 {
        font-size: 46px;
        line-height: 56px;
        margin: 0px 0px 30px;
        max-width: 540px;
    }

    .intro-area-2 .slider-content {
        margin-top: -30px;
    }


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-menu ul.navbar-nav > li > a {
        font-size: 12px;
        margin: 0px 6px;
        padding: 25px 0px;
    }

    .header-area.stick .main-menu ul.navbar-nav > li > a {
        font-size: 12px;
        margin: 0px 6px;
        padding: 20px 0px;
    }

    .logo a {
        padding: 5px 0;
    }

    .header-right-link a.main-search {
        padding: 15px 0px 15px 10px;
        font-size: 16px;
    }

    .header-area.stick .header-right-link a.main-search {
        padding: 10px 0px 11px 10px;
    }

    .topbar-left ul li a {
        margin-right: 10px;
    }

    .layer-1 h1 {
        font-size: 36px;
        line-height: 46px;
        max-width: 450px;
    }

    .slider-content {
        margin-top: -110px;
    }

    .services-headline h3 {
        font-size: 20px;
        line-height: 30px;
        padding-right: 20px;
    }

    .about-content h3 {
        line-height: 30px;
        font-size: 22px;
    }

    .about-image::after {
        right: -311px;
        top: 236px;
    }

    .about-details {
        padding-top: 0px;
    }

    .about-details .about-list {
        display: none;
    }

    .about-content p {
        font-size: 14px;
    }

    .left-headline p {
        font-size: 14px;
    }

    .faq-details h4.check-title {
        font-size: 15px;
        line-height: 24px;
    }

    .video-play.vid-zone {
        font-size: 26px;
        height: 70px;
        line-height: 68px;
        width: 70px;
    }

    .about-content {
        padding: 20px 30px;
    }

    .about-area-2 .about-content {
        padding: 30px 20px;
    }

    .center-headline h2 {
        max-width: 570px;
        font-size: 24px;
        line-height: 34px;
    }

    .awesome-img img {
        width: 100%;
        height: auto;
    }

    .add-actions {
        left: 0%;
        width: 100%;
        opacity: 0;
        height: 100%;
    }

    .single-awesome-project:hover .add-actions {
        opacity: 1;
    }

    .footer-services-link ul.footer-list {
        width: 100%;
        float: none;
    }

    .intro-area-2 .intro-content,
    .slider-images img {
        min-height: 500px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .choose-area-2 .choose-wrapper {
        background: #fff;
        padding: 20px;
    }

    .fun-content {
        padding: 50px 15px;
    }

    .fun-icon {
        float: none;
        text-align: center;
    }

    .fun_text span {
        font-size: 36px;
    }

    .fun-icon i {
        font-size: 50px;
        line-height: 50px;
    }

    .fun_text {
        padding-left: 0px;
        text-align: center;
        margin-top: 20px;
    }

    .fun_text > h5 {
        font-size: 14px;
    }

    .intro-area-2 .layer-1 h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 520px;
        margin: 0px 0px 20px;
    }

    .high-text {
        font-size: 180px;
        line-height: 180px;
    }

    .intro-area-2 .slider-content {
        margin-top: -33px;
    }

    .ready-btn {
        font-size: 14px;
        padding: 10px 20px;
        width: 140px;
    }

    .intro-area-3 .layer-1 h1 {
        font-size: 34px;
        line-height: 44px;
        margin: 0px 0px 20px;
        max-width: 600px;
    }

    .intro-area-3 .slider-content {
        margin-top: -45px;
    }

    .main-menu ul.nav li ul.sub-menu {
        left: -60px;
    }

    .support-text h4 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .support-text a {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .feature-service h5 {
        font-size: 14px;
    }

    .mar-row {
        margin-top: 30px;
    }

    .breadcrumb .section-headline h2 {
        font-size: 32px;
        line-height: 52px;
    }

    .fullwith-page .feature-service h5 {
        font-size: 17px;
    }

    .project-menu li {
        width: 100px;
    }

    .project-history {
        padding: 30px 15px;
    }

    .project-history h4 {
        font-size: 20px;
    }

    .project-name span {
        padding-right: 10px;
        min-width: 95px;
    }

    .project-name ul li {
        font-size: 14px;
    }

    project-details h4 {
        font-size: 18px;
    }

    .project-text h4 {
        font-size: 17px;
        padding-left: 45px;
    }

    .project-3 .add-actions {
        padding: 30px 15px;
    }

    .project-2.related-project .project-single {
        padding: 15px;
    }

    .left-head-blog {
        padding: 30px 10px;
    }

    .blog-search-option input {
        width: 72%;
    }

    .pst-content {
        padding-left: 0px;
    }

    .recent-single-post img {
        display: none;
    }

    .left-tags .left-side-tags ul li a {
        padding: 5px 4px;
        font-size: 14px;
    }

    .blog-content a h4 {
        font-size: 18px;
    }

    .blog-details .blog-content h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .header-area .header-right-link .slice-btn {
        color: #444;
        right: -8px;
        padding: 22px 0px;
    }

    .header-area-2 .header-right-link .slice-btn {
        color: #fff;
    }

    .header-area.stick .header-right-link .slice-btn {
        padding: 17px 0px;
    }

    .services-headline p {
        padding-left: 20px;
        font-size: 14px;
        letter-spacing: inherit;
    }

    .header-area-3 .header-right-link .slice-btn {
        color: #fff;
    }

    .services-area-3 .service-content {
        padding: 30px 10px;
    }

    .single-service h4 {
        font-size: 18px;
    }

    .project-menu li a {
        font-size: 16px;
        padding: 10px 10px;
    }

    .project-page-area.project-4 .project-single,
    .project-2.related-project .project-single {
        width: 50%;
    }

    .project-details h4 {
        font-size: 20px;
    }

    .contact-details {
        padding: 30px;
        margin-right: 20px;
    }

    .about-image {
        margin-right: 50px;
    }

    .video-play.vid-zone {
        top: 62%;
        right: -10px;
    }


}

/* small mobile :320px. */
@media (max-width: 767px) {
    .mobile-menu-area .header-right-link {
        display: none;
    }

    .container {
        width: 100%;
    }

    .logo {
        height: inherit;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0px;
        z-index: 999999;
        max-width: 155px;
        margin-left: 20px;
    }

    .mean-container .mean-bar {
        width: 100%;
    }

    .footer-area {
        padding: 40px 0;
    }

    nav.mean-nav {
        overflow: hidden;
    }

    .mean-nav ul li.mean-last {
        margin-bottom: 0;
    }

    .mean-container .mean-nav ul li li a {
        text-transform: uppercase;
    }

    .mean-container .mean-nav ul li a.mean-expand {

        right: 14%;
    }

    .callback-bt {
        bottom: 8%;
        left: 8%;
    }

    .panel-body {
        padding: 15px;
    }

    .modalDialog {
        padding: 0;
        z-index: 999999999;
    }

    .mean-container a.meanmenu-reveal,
    .mean-container a.meanmenu-reveal:hover {
        color: #fff;
    }

    .header-area.stick .header-right-link a.main-search {
        padding: 17px 0px 18px 5px;
    }

    .header-area-2 .header-right-link .slice-btn {
        padding: 20px 0px;
    }

    .header-area-2.stick .header-right-link .slice-btn {
        padding: 20px 0px;
    }

    .header-area .header-right-link .slice-btn {
        padding: 28px 0px;
    }

    .header-area.stick .header-right-link .slice-btn {
        padding: 24px 0px;
    }

    .header-area.stick .main-menu ul.navbar-nav > li > a {
        font-size: 12px;
        margin: 0px 11px;
        padding: 27px 0px;
    }

    .header-area.stick .logo a {
        padding: 11px 0;
    }

    .logo a {
        padding: 0px;
    }

    .header-right-link a.main-search {
        padding: 20px 0px 20px 5px;
    }

    .pagess::after {
        display: none;
    }

    .slider-content {
        margin-top: -90px;
    }

    .layer-1 {
        margin: 5px 0;
    }

    .layer-1 h1 {
        font-size: 26px;
        line-height: 37px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .ready-btn {
        font-size: 14px;
        padding: 8px 10px;
        width: 130px;
    }

    .services-headline p,
    .services-headline::after {
        display: none;
    }

    .services-headline h3 {
        font-size: 20px;
        width: 100%;
        line-height: 32px;
        text-align: left;
        padding-right: 0px;
    }

    .intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
    .intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next,
    .services-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
    .services-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next {
        display: none !important;
    }

    .intro-content,
    .slider-images img {
        width: 100%;
        height: 100%;
        min-height: 330px;
        object-fit: cover;
    }

    .well-content h4 {
        font-size: 18px;
        line-height: 30px;
    }

    .single-service h4 {
        font-size: 18px;
    }

    .about-image::after {
        right: -334px;
        top: 222px;
    }

    .video-play.vid-zone {
        font-size: 24px;
        height: 60px;
        line-height: 58px;
        width: 60px;
        top: 60%;
        right: -20px;
    }

    .about-content h3 {
        line-height: 30px;
        font-size: 21px;
    }

    .about-content {
        padding: 30px 20px;
    }

    .left-headline h3 {
        font-size: 21px;
        line-height: 32px;
    }

    .center-headline h2 {
        font-size: 21px;
        line-height: 32px;
        margin: 20px 0;
    }

    .project-single {
        width: 100% !important;
        float: none;
    }

    .awesome-img img {
        width: 100%;
        height: auto;
    }

    .add-actions {
        left: 5%;
        top: 100%;
        width: 90%;
        opacity: 0;
        padding: 20px 15px;
    }

    .single-awesome-project:hover .add-actions {
        top: 12%;
        opacity: 1;
    }

    .choose-wrapper {
        padding: 30px;
    }

    .single-brand-item {
        float: left;
        width: 100%;
        margin-bottom: 0px;
    }

    .faq-area .faq-content {
        margin-top: 30px;
    }

    .testimonial-text p {
        font-size: 15px;
        line-height: 24px;
        padding: 0px;
    }

    .company-faq {
        padding: 30px 15px;
    }

    .faq-details h4.check-title {
        font-size: 15px;
        line-height: 26px;
    }

    .faq-content h4 {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .footer-content {
        margin-bottom: 40px;
    }

    .last-item {
        margin-bottom: 0px;
    }

    .blog-content a h4 {
        font-size: 17px;
    }

    .blog-content p {
        margin-bottom: 0px;
    }

    .about-area-2 .about-content {
        padding: 30px 15px;
    }

    .fun_text span {
        font-size: 32px;
        line-height: 34px;
    }

    .project-2 .center-headline h2 {
        font-size: 22px;
        line-height: 32px;
        max-width: 300px;
    }

    .intro-area-2 .layer-1 h1 {
        font-size: 24px;
        line-height: 32px;
        margin: 0px 0px 20px;
    }

    .header-two {
        position: inherit;
    }

    .single-fun {
        width: 100%;
        float: none;
        padding: 20px 0px;
    }

    .intro-area-3 .layer-1 h1 {
        font-size: 21px;
        line-height: 36px;
        margin: 0px 0px 15px;
    }

    .breadcrumb .section-headline {
        display: block;
    }

    .breadcrumb-bg {
        float: none;
        text-align: center;
    }

    .breadcrumb .section-headline h2 {
        text-align: center;
        font-size: 26px;
        line-height: 38px;
    }

    .breadcrumb ul li {
        font-size: 14px;
    }

    .high-text {
        font-size: 100px;
        line-height: 100px;
    }

    .error-easy-text {
        font-size: 24px;
    }

    .error-bot {
        font-size: 16px;
        line-height: 28px;
    }

    .sub-headline h4 {
        font-size: 20px;
    }

    .faq-details h4.check-title a {
        padding: 10px 10px 10px 50px;
    }

    .single-well h3 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .mar-row {
        margin-top: 30px;
    }

    .project-menu li {
        width: 100px;
        margin: 5px 5px;
    }

    .project-details {
        padding: 30px 14px;
        margin-left: 0px;
    }

    .project-details h4 {
        font-size: 20px;
    }

    .project-history {
        padding: 30px 20px;
        margin-bottom: 30px;
    }

    .project-history h4 {
        font-size: 20px;
    }

    .project-name span {
        padding-right: 10px;
        min-width: 95px;
    }

    .project-name ul li {
        font-size: 16px;
    }

    .project-text h4 {
        font-size: 19px;
        padding-left: 45px;
    }

    .project-list h4 {
        font-size: 20px;
    }

    .project-list-img {
        margin: 15px 0px;
    }

    .blog-search-option input {
        width: 75%;
    }

    .blog-sidebar-left .left-head-blog {
        margin-bottom: 30px;
    }

    .blog-sidebar-right .left-head-blog {
        margin-top: 30px;
    }

    .blog-details .blog-content h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .threaded-comments {
        margin-left: 15px;
    }

    .comments-content-wrap {
        margin: 0 0 15px 90px;
    }

    .blog-details .left-head-blog {
        margin-top: 30px;
    }

    .intro-area-3 .slider-content {
        margin-top: -95px;
    }

    .page-head-right {
        margin-top: 40px;
    }

    .contact-head h4 {
        font-size: 21px;
    }

    .contact-head p {
        font-size: 15px;
    }

    .single-service h4 {
        padding-top: 35%;
    }

    .area-padding {
        padding: 40px 0 20px 0;
    }

    .well-services {
        max-height: 100%;
        min-height: 100%;
    }

    .about-area.area-padding.bg-color {
        padding: 20px 0;
    }

    .about-image {
        /*margin-right: 50px;*/
        position: relative;
        /*margin-bottom: 40px;*/
    }

    .project-menu li a {
        font-size: 16px;
        padding: 10px 10px;
    }

    .post-img {
        display: none;
    }

    .pst-content {
        padding-left: 0px;
    }

    .contact-details {
        padding: 30px 20px;
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .single-choose .choose-content h4 {
        font-size: 18px;
    }

    .single-well h4 {
        font-size: 18px;
        line-height: 30px;
    }

    .feature-service h5 {
        font-size: 15px;
    }

    .slide-logo,
    .slide-logo img {
        width: 160px;
    }


}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

    .single-brand-item {
        float: left;
        width: 50%;
        margin-bottom: 0px;
    }


}
 
