{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Решение | Келечек - Жилищный кооператив Кыргызстан, Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
        content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">
</head>
<!DOCTYPE html>

<body>
    <style>
        .title2 {
            text-align: center;
            font-weight: bold;
            margin: 10px 0;
        }

        p {
            margin: 0;
        }
    </style>
    <p align="center">
    <h3 style="text-align: center;">Некоммерческий жилищно-накопительный кооператив взаимопомощи <br>
        «ОДИН ШАГ К БУДУЩЕМУ»</h3>
    </p>

    <h3 style="text-align: center; margin-top:50px">РЕШЕНИЕ № {{object.id}}</h3>
    <h3 style="text-align: center;">ПРАВЛЕНИЕ КООПЕРАТИВА</h3>

    <p>
        {% if object.protocol_city %}{{object.protocol_city}}{% else %}г.Бишкек {% endif %}
        <span style="float: right;">{{object.protocol_date}}</span>
    </p>
    <p style="margin-bottom: 50px;"></p>
    <p align="center">
    <h3 style="text-align: center;">РАССМАТРИВАЕМЫЙ ВОПРОС:</h3>
    </p>
    <br>
    <p style="text-align:center">
        {{object.protocol_question}}
    </p>
    <br>
    <h3 style="text-align: center;">РАССМОТРЕЛ ВОПРОС И РЕШИЛ: </h3>
    </p>
    <br>
    <p style="text-align:center">
        {{object.protocol_decision}}
    </p>
    <br>

    <p>
        {% if object.protocol_chairman %}
        <b>{{object.protocol_chairman}}</b>
        {% else %}
        <strong>Председатель Правление Кооператива </strong> <span style="margin: 0 10px;"> ___________________</span>
        <strong style="">
            Курманалиев Э.К.</strong>
        {% endif %}
    </p>
    <br>
</body>

</html>