{% extends 'base.html' %}
{% load static %}
{% block title %}Список договоров | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Список протоколов</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Список протоколов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<style>
    .font-size-50 {
        font-size: 50px;
    }

    .list-button a {
        margin-bottom: 5px;
    }
</style>

<div class="container p-tb-2">
    <div class="row">
        <div class="well-inner">
            <a href="{% url 'protocol_create' %}" class="btn btn-primary" style="margin-bottom: 20px">Создать
                протокол</a>

            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                {% for protocol in object_list %}
                <tr>
                    <td>{{protocol.id}}</td>
                    <td>{{protocol.protocol_date}}</td>
                    <td>
                        <a target="_blank" href="{% url 'protocol_detail' protocol.pk %}"
                            class="btn btn-primary">Подробнее</a>
                        {% if user.is_superuser %}
                        <a target="_blank" href="{% url 'protocol_update' protocol.pk %}"
                            class="btn btn-success">Изменить</a>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
    <!-- Start Paginator -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% if is_paginated %}
        <div class="blog-pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                {% else %}
                <li class="disabled"><span>Prev</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <!-- End Paginator -->
</div>
{% endblock %}