{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Создать решение | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Изменить решение</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Изменить решение</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->


<div class="container p-tb-2">
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        <div class="col-md-6">
            {% csrf_token %}
            <div id="div_id_protocol_date" class="form-group">
                <label for="id_protocol_date" class="">
                    Дата решения
                </label>
                <div class="">
                    <input type="date" name="protocol_date" value="{{object.protocol_date|date:'Y-m-d' }}"
                        class="dateinput form-control" id="id_protocol_date">
                </div>
            </div>
            {{form.protocol_question|as_crispy_field}}
            <input type="submit" name="submit" value="Изменить" class="btn btn-success">


        </div>
        <div class="col-md-6">
            {{form.protocol_city|as_crispy_field }}
            {{form.protocol_decision|as_crispy_field}}
            {{form.protocol_chairman|as_crispy_field}}
        </div>
    </form>
</div>

{% endblock %}