{% extends 'base.html' %}
{% load static %}
{% block title %}
Вопросы и ответы |
{% endblock %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Вопросы и Ответы</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
    <!-- Start Overview -->
    <div class="faq-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="company-faq">
                        <div class="sub-headline">
                            <h4>Частые вопросы</h4>
                        </div>
                        <div class="faq-full">
                            <div class="faq-details">
                                <div class="panel-group" id="accordion">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        {% for faq in faq_context %}
                                            <div class="panel-heading">
                                                <h4 class="check-title">
                                                    <a data-toggle="collapse"  data-parent="#accordion"
                                                       href="#check{{faq.id}}">
                                                        <span class="acc-icons"></span>{{ faq.faq_question }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="check{{faq.id}}" class="panel-collapse collapse ">
                                                <div class="panel-body">
                                                    <p>
                                                        {% if faq.faq_answer %}
                                                            {{ faq.faq_answer }}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- End Panel Default -->
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <!-- End Column -->
                <!-- Start Column Start -->
                <div class="col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                    <div class="faq-content">
                        <h4>У Вас есть вопросы?</h4>
                        <div class="faq-quote">
                            <div class="row">
                                <form method="POST" action="" class="contact-form">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            {{ form.errors }}
                                        </div>
                                    {% endif %}
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="faq_name" id="name" class="form-control"
                                               placeholder="Ваше Имя" required
                                               data-error="Please enter your name">
                                        <input type="tel" name="faq_phone" id="phone" class="form-control"
                                               placeholder="Ваш Телефон" required
                                               data-error="Please enter your name">
                                        <div style="text-align: center;padding-top: 20px;">
                                            <p>Введте в форму что написано на картинке</p>
                                            {{ form.captcha }}</div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="message" name="faq_question" rows="7" placeholder="Задать вопрос"
                                              class="form-control" required
                                              data-error="Задайте вопрос"></textarea>
                                        <div class="help-block with-errors"></div>
                                        <button type="submit" class="quote-btn">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Column -->
            </div>
        </div>
    </div>
    <!-- End Overview -->{% endblock %}