{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Список Опубликованых Вопросов</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Вопросы</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->



    <!-- Panel Filtering rows -->
    <div class="panel">
        <div class="panel-body">
            {#            <input id="myInput" type="text" placeholder="Search..">#}
            <br>
            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                   data-paging="true" data-filtering="true" data-sorting="true">
                <thead>
                <tr>
                    <th class="th-width-3 center-align" data-name="id" data-type="number" data-breakpoints="xs">№</th>
                    <th class="manage-th center-align" data-name="firstName">ФИО</th>
                    <th class="th-width-13 center-align" data-name="status">Email</th>
                    <th class="th-width-10 center-align" data-name="something" data-visible="true"
                        data-filterable="false">Дата
                    </th>
                    <th class="center-align" data-name="jobTitle" data-breakpoints="xs sm">Вопрос</th>
                    <th class="th-width-7 center-align" data-name="by_whom">Ответ</th>
                    {% if user.is_superuser %}
                        <th class="th-width-10 center-align" data-name="lastName">Управление</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="myTable">
                {% for faq in published_faqs %}
                    <tr>
                        <td class="counterCell center-align"></td>
                        <td class="center-align">{{ faq.faq_name }}</td>
                        <td class="center-align">{{ faq.faq_email }}</td>
                        <td class="center-align">{{ faq.faq_date }}</td>
                        <td class="center-align">{{ faq.faq_question }}</td>
                        <td class="center-align">
                            {% if faq.faq_answer and not None %}
                                <span style="-webkit-text-fill-color: green; font-weight: 600">Есть</span>
                            {% else %}
                                <span style="-webkit-text-fill-color: red; font-weight: 600">Нету</span>
                            {% endif %}
                        </td>
                        {% if user.is_superuser %}
                            <td class="center-align">
                                <a href="{% url 'faq_update' faq.pk %}"
                                   style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                        class="fa fa-gears"></i></a>
                                <a href="{% url 'faq_delete' faq.pk %}"
                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Start Paginator -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if is_paginated %}
                    <div class="blog-pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                            {% else %}
                                <li class="disabled"><span>Prev</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="disabled"><span>Next</span></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End Paginator -->
        </div>
    </div>
    <!-- End Panel Filtering -->
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $("#myInput").on("keyup", function () {#}
    {#                var value = $(this).val().toLowerCase();#}
    {#                $("#myTable tr").filter(function () {#}
    {#                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}

{% endblock %}