{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Изменить вопрос</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->




    <!-- Start Column Start -->
    <div class="container p-tb-2">
        <div class="faq-content">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="POST" action="" class="contact-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info" type="submit" value="Save">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Column -->


    <!-- form Area -->
    {#    <div class="container p-tb-2">#}
    {#        <form action="" method="post">#}
    {#            {% csrf_token %}#}
    {#            <div class="row">#}
    {#                <div class="col-md-6 col-sm-6 col-xs-12">#}
    {##}
    {##}
    {#                    <p>#}
    {#                    </p>#}
    {#                </div>#}
    {#                <div class="col-md-6 col-sm-6 col-xs-12">#}
    {#                    <p>#}
    {#                    </p>#}
    {#                    <p></p>#}
    {##}
    {#                    <button class="btn btn-info" type="submit" value="Save">Сохранить</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    <!-- End form Area -->

{% endblock %}