{% extends 'base.html' %}
{% block title %}
404 |
{% endblock %}
{% block content %}
<div class="page-head area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="error-page">
                        <!-- map area -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="error-main-text text-center">
                                <h1 class="high-text">4<span class="color">0</span>4</h1>
                                <h2 class="error-easy-text">Страница не найдена</h2>
                                <h3 class="error-bot">К сожалению, страница, которую вы ищете, не найдена.</h3>

                                <a class="error-btn" href="{% url 'home' %}">Вернутся на главную страницу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}