{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Список новостей</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


    <!-- Panel Filtering rows -->
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                   data-paging="true" data-filtering="true" data-sorting="true">
                <thead>
                <tr>
                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                    <th data-name="firstName">Название новости</th>
                    <th data-name="status">Описание новости</th>
                    <th data-name="something" data-visible="true"
                        data-filterable="false">ФОТО
                    </th>
                <th data-name="status">Автор</th>
                    {% if user.is_superuser or user.is_moderator  %}
                        <th data-name="lastName">Управление</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="myTable">
                {% for news in received_news %}
                    <tr>
                        <td class="counterCell"></td>
                        <td style="text-align: left">{{ news.title }}</td>
                        <td>{{ news.body }}</td>
                        <td>{{ news.author.username }}</td>
                    <td><img src="{{ news.photo.url }}" style="height: 100px;" onclick="changeSizeImage(this)"/></td>

                        {% if user.is_superuser or user.is_moderator  %}
                            <td>
                                <a href="{% url 'news_update' news.pk %}"
                                   style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                        class="fa fa-gears"></i></a>
                                <a href="{% url 'news_delete' news.pk %}"
                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Start Paginator -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if is_paginated %}
                    <div class="blog-pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                            {% else %}
                                <li class="disabled"><span>Prev</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="disabled"><span>Next</span></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- End Paginator -->
        </div>
    </div>
    <!-- End Panel Filtering -->


{% endblock %}