{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block title %}
{{ object.title }} |
{% endblock %}
{% block content %}

<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>{{ object.title }}</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread">Главная</li>
                            <li>Новости</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<!--Blog Area Start-->
<div class="blog-area area-padding">
    <div class="container">
        <div class="row">
            <div class="blog-details">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- single-blog start -->
                    <article class="blog-post-wrapper">
                        <div class="blog-banner">
                            <div class="blog-content">
                                <div class="blog-meta">
											<span class="date-type">
												{{ object.news_date }}
											</span>
                                </div>
                                <h4>{{ object.title }}</h4>
                                {% if object.video %}
                                <!-- The video tag: -->
                                {% video object.video '600x400' %}
                                {% else %}
                                <a href="#" class="blog-images">
                                    <img src="{{ object.photo.url }}" alt="{{ object.title|slice:100 }} Бишкек">
                                </a>
                                {% endif %}
                                <p>{{ object.body }}</p>
                            </div>
                        </div>
                    </article>
                    <div class="clear"></div>
                    <!-- single-blog end -->
                </div>
                <!-- End single blog -->

                <!-- Start Right Sidebar blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="left-head-blog">
                        <div class="left-blog-page">
                            <!-- recent start -->
                            <div class="left-blog">
                                <h4>Последние новости</h4>
                                {% for news in last_news %}
                                <div class="recent-post">
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="{% url 'news_detail' news.pk %}">
                                                <img src="{{ news.photo.url }}"
                                                     alt="{{ object.title|slice:100 }} Бишкек">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></p>
                                            <span class="date-type">
														{{ news.news_date }}
													</span>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                </div>
                                {% endfor %}
                            </div>
                            <!-- recent end -->
                        </div>
                    </div>
                </div>
                <!-- End Right Sidebar -->
            </div>
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->

{% endblock %}