{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}
Новости |
{% endblock %}
{% block description %}
Новости жилищного кооператива Келечек
{% endblock %}
{% block content %}

<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Новости</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread">Главная</li>
                            <li>Новости</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<!--Blog Area Start-->
<div class="blog-area area-padding">
    <div class="container">
        <div class="row">
            <div class="blog-grid">
                {% for post in object_list %}

                <!-- Start single blog -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-image">
                            {% if post.video %}
                            {% video post.video '400x235' %}
                            {% else %}
                            <a class="image-scale" href="{% url 'news_detail' post.pk %}">
                                <img src="{{ post.photo.url }}" alt="">
                            </a>
                            {% endif %}
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
										<span class="date-type">
											{{ post.news_date }}
										</span>

                            </div>
                            <a href="{% url 'news_detail' post.pk %}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <p>{{ post.body|slice:50 }}</p>
                        </div>
                        {% if user.is_superuser %}
                        <a style="-webkit-text-fill-color: red"
                           href="{% url 'news_delete' post.pk %}">Удалить</a>
                        <a style="-webkit-text-fill-color: #3c763d" href="{% url 'news_update' post.pk %}">Изменить</a>
                        {% endif %}
                    </div>

                </div>
                <!-- End single blog -->
                {% endfor %}
            </div>

            <!-- Start Paginator -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if is_paginated %}
                <div class="blog-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% else %}
                        <li class="disabled"><span>Prev</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="disabled"><span>Next</span></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <!-- End Paginator -->
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->
{% endblock %}