{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Новости</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Новости</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->

    <div class="container p-tb-2">
        <div class="col-md-8">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ form.body|as_crispy_field }}
                {{ form.photo|as_crispy_field }}
                <button class="btn btn-info" type="submit" value="Save">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}