{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Создание новости</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread">Главная</li>
                                <li>Создание новости</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->
    <div class="container p-tb-2">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Опубликовать</button>
            </form>
        </div>
    </div>

{% endblock %}