{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Опубликовать объявление | {% endblock %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Опубликовать голосование</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Голосование</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->


<div class="container p-tb-2">
    <div class="col-md-12">
        <form id="post_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.question_number|as_crispy_field }}
                {{ form.question_name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.question_city|as_crispy_field }}
                <div id="question_date" class="form-group">
                    <label for="id_question_date" class="">
                        Дата протокола
                    </label>
                    <div class="">
                        <input type="date" name="question_date" value="{{form.question_date|date:'Y-m-d' }}"
                            class="dateinput form-control" id="id_question_date">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {{ form.question_adr|as_crispy_field }}
                {{ form.question_text_1|as_crispy_field }}
                {{ form.question_text_2|as_crispy_field }}
                {{ form.question_text_3|as_crispy_field }}
                {{ form.question_file|as_crispy_field }}


                {% crispy form %}
                <input type="submit" name="submit" value="Опубликовать">
            </div>
        </form>
    </div>
</div>
{% endblock %}