{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li class="bread"><a href="{% url 'admin_page' %}">Панель управления</a></li>
                            <li>Результат голосования</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<div class="container">
    <div class="row mar-row">
        <div class="project-feature">
            <!-- Start column -->
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="row project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-project-inner">
                            <div class="project-inner">
                                <div class="project-text">
                                    <h4>Вопрос: {{ question.question_name }}</h4>
                                    {% if question.question_file %}
                                        <p>Скачать файл <a href="{{ question.question_file.url }}">Скачать</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="single-project-inner user-list">
                            {% for choice in question.choice_set.all %}
                                <tr>

                                    <td>{{ choice.choice_text }} </td>
                                    <td><span class ="badge badge-success float-right">
                                        {{ choice.votes }} голос
                                        {{ choice.голосов | pluralize }}</span> | </td>
                                </tr>
                            {% endfor %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">ФИО</th>
                                    <th scope="col">Ответ</th>
                                </tr>
                                {% for user in question.users.all %}
                                <tr>

                                    <td>{{ user.user_full_name }} </td>
                                    <td>
                                        {% for choice in user.choice_set.all %}
                                            {{ choice }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End column -->
        </div>
    </div>
</div>
{% endblock %}