<html>
<head>
  <title>Результат голосования за {{ question.question_date }}</title>
  <style>
    .text-center {
        text-align: center;
    }
    .font-size-20 {
        font-size: 20px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .m-20 {
        margin: 0 20px;
    }

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #9E9E9E;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row mar-row">
        <div class="project-feature">
            <!-- Start column -->
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="row project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-project-inner">
                            <div class="project-inner">
                                <div class="text-center">
                                    <h2>Вопрос:
                                        {{ question.question_name }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="single-project-inner user-list">
                            <div class="text-center">
                                {% for choice in question.choice_set.all %}
                                    <tr>
                                        <td>
                                            <b class="font-size-20">{{ choice.choice_text }}</b>:
                                        </td>
                                        <td><span class="float-right font-size-20">
                                            {{ choice.votes }} голос
                                            {{ choice.голосов | pluralize }}</span> <span class="m-20">|</span> </td>
                                    </tr>
                                {% endfor %}
                            </div>
                            <hr class="mb-20">
                            <table id="customers" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ФИО</th>
                                        <th scope="col">Ответ</th>
                                    </tr>
                                </thead>

                                {% for user in question.users.all %}
                                <tr>
                                    <td style="width: 300px">{{ user.user_full_name }}
                                    </td>
                                    <td>
                                        {% for choice in user.choice_set.all %}
                                            {{ choice }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End column -->
        </div>
    </div>
</div>
</body>
</html>