{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row" style="margin: 10% 0;">
    <h1 class ="mb-5 text-center">Вы успешно проголосовали!</h1>
    <span class="text-center" style="display: block">
        <a class ="btn btn-info " href ="{% url 'user_detail' user.pk %}">Вернутся назад</a>
    </span>
</div>
</div>
{% endblock %}
