 <style>
        .center {
            text-align: center;
            color: black;
        }
        .title {
            font-size: 20px;
            font-weight: bold;
        }
        .sub-title {
            font-size: 16px;
        }
        .bold {
            font-weight: bold;
            color: black;

        }

        .mg-10 {
            margin: 10px 0 20px;
        }

        .mb-40 {
            margin-bottom: 40px;
        }
        .mt-20 {
            margin-top: 20px;
        }
        p {
            color: black;
        }
</style>
    <p class="center title">ПРОТОКОЛ № {{ question.question_number }} </p>
    <p class="center sub-title">Общего собрания членов</p>
    <h4 class="center">Некоммерческий жилищно-накопительный кооператив взаимопомощи <br>
    «Келечекке Бир Кадам»
    </h4>

    <p class="bold">
        {% if question.question_city %}{{ question.question_city }}
        {% else %}г. Бишкек{% endif %}
        <span
            style="float: right;
">{{ question.question_date}}</span></p>
    <p style="margin-bottom: 50px;"></p>


    <h5 class="bold">
        Место проведения общего собрания: {{ question.question_adr}}
    </h5>
    <p class="bold">Время начало: _____________</p>
    <p class="bold">Время окончания: __________</p>


    <p>Общее количество членов Кооператива: ________________ </p>
    <p>Количество присутствующих членов Кооператива: ________</p>
    <p>Кворум для принятия решения соблюден.</p>
    {% for choice in question.choice_set.all %}
        <tr>

            <td>{{ choice.choice_text }} </td>
            <td><span class="float-right">
                {{ choice.votes }}
                {{ choice.голосов | pluralize }}</span> | </td>
        </tr>
    {% endfor %}
    </p>


    <p class="center sub-title">Присутствовали</p>
    <p>{{ users_count }} человек</p>
    <br class="mt-20">


    <p style="text-align:center">{{object.protocol_question}}</p>
    <p class="sub-title">Кворум имеется 100%.</p>
    <br>


    <p class="center sub-title bold">ПОВЕСТКА ДНЯ:</p>
    <p><span style="margin-right: 20px"></span>
        {{ question.question_text_1|safe}}</p>


    <p class="center sub-title bold">ПРОТОКОЛ:</p>
    <p><span style="margin-right: 20px"></span>
        {{ question.question_text_2|safe}}</p>
    <br>


    <p class="center sub-title bold">ПОСЛЕ ОБСУЖДЕНИЯ ПОВЕСТКИ ДНЯ, ПРИСУТСТВУЮЩИЕ ЕДИНОГЛАСНО РЕШИЛИ:</p>
    <p>
        <span style="margin-right: 20px"></span> {{ question.question_text_3|safe}}
    </p>
    <br>


    <p>3
        <strong>Председатель правления кооператива </strong>
        <span style="margin: 0 10px;"> ______________________________________</span>
        <strong style="">
            Курманалиев Э.К.</strong>
    </p>
    <p>
        <strong>Секретарь правления кооператива </strong>
        <span style="margin: 0 10px 0 38px;">
            ______________________________________</span>
        <strong style="">
            Ажыбеков А.Н.</strong>
    </p>
    <br><br>

    <p>Протокол скрепляется печатью Кооператива. В случае отсутствия печати подписи
    председателя и секретаря свидетельствуются нотариально.</p><br><br><br><br>
<br>
