{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li class="bread"><a href="{% url 'user_detail' user.pk %}">Профиль</a></li>
                            <li>Результат голосования</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<div class="container" style="margin-top: 100px">
    {% if request.user not in question.users.all %}
    <h4>Название вопроса: {{ question.question_name }}</h4>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h4 style="color: red;">{{ message }}</h4>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'quotes:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="form-check">
            <input type="radio" name="choice" class="form-check-input" id="choice{{ forloop.counter }}"
                value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
        {% endfor %}
        <input type="submit" value="Проголосовать" class="btn btn-success btn-lg btn-block mt-4" />
    </form>
    {% else %}
    <h4 class="center" style="color: red">Ваш голос засчитан!</h4>
    <div class="center">
        {% for choice in question.choice_set.all %}
        <tr>

            <td>{{ choice.choice_text }} </td>
            <td><span class="badge badge-success float-right">
                    {{ choice.votes }} голос
                    {{ choice.голосов | pluralize }}</span> | </td>
        </tr>
        {% endfor %}
    </div>
    {% endif %}
    {% if question.question_file %}
        <hr style="border-bottom: 3px solid black">
        <h3><a href="{{question.question_file.url}}">Скачать: Протокол № {{question.question_number}}</a></h3>
    {% endif %}
    <hr style="margin-bottom: 10%; border-bottom: 3px solid black">
    {% include 'votes/vote_document.html' %}
</div>
{% endblock %}