{% extends 'base.html' %}
{% load static %}
{% block title %}Список объявлений | {% endblock %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Список Объявлений</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>Объявления</li>
                            </ul>
                        </div>
                        <a href="{% url 'ads_create' %}" class="btn btn-danger" style="font-size: 20px;">Подать
                            объявление</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


    <!-- Panel Filtering rows -->
    <div class="panel p-tb-2 mobile-display-none">
        <div class="panel-body">
            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                   data-paging="true" data-filtering="true" data-sorting="true">
                <thead>
                <tr>
                    <th id="ads_price" data-name="ads_price" class="col-md-0.3 center-align">Цена</th>
                    <th id="ads_status" data-name="status" class="hidden col-md-1 center-align">Тип</th>
                    <th id="ads_rooms" data-name="ads_rooms" class="col-md-0.3 center-align">Комнат</th>
                    <th id="ads_square" data-name="ads_square" data-breakpoints="xs" class="col-md-0.3 center-align">
                        Площадь
                    </th>
                    <th id="" data-name="ads_title" class="center-align">Заголовок Объявления</th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for ads in object_list %}
                    <tr data-href="{% url 'ads_detail' ads.pk %}">
                        <td style="-webkit-text-fill-color: red; font-weight: 600" class="center-align"
                            title="Стоимость">{{ ads.ads_price }}$
                        </td>
                        <td class="hidden" style="display: none">{{ ads.ads_type }}</td>
                        <td class="center-align" title="Кол - во комнат">{{ ads.ads_rooms }}</td>
                        <td class="center-align" title="Общая Площадь">{{ ads.ads_square }}м<sup>2</sup></td>
                        <td>
                            <div class="my-table-title-td">
                                <div title="Заголовок">{{ ads.ads_title|slice:110 }}...</div>
                                <div class="my-table-title-td-icons">
                                    {% if ads.ads_type_building == 'Новостройка' %}
                                        <span style="padding-right: 7px; -webkit-text-fill-color: red;
                                                        font-weight: 600" title="Новостройка">НС</span>
                                    {% else %}
                                        <span style="padding-right: 7px; -webkit-text-fill-color: red;
                                                        font-weight: 600" title="Вторичное жилье">ВЖ</span>
                                    {% endif %}
                                    {% if ads.ads_image1 %}
                                        <i style="padding-right: 10px; color: #2B81AF"
                                           class="fa fa-picture-o" title="Есть фото"></i>
                                    {% endif %}
                                    {% if ads.ads_hot %}
                                        <a class="label label-danger">Срочно!</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Panel Filtering -->

    <div class="mb-version">
        <div class="mob-search-input">
            <label for="myInput">Поиск</label><input type="text" id="myInput" onkeyup="myFunction()" placeholder="">
        </div>
        {% for ads in object_list %}
            <div class="topics-item">
                <div style="display: flex; justify-content: flex-start">
                    <div class="topics-item-topic_cost mob-topic-item-header">{{ ads.ads_price }}$</div>
                    <div class="topics-item-topic_rooms mob-topic-item-header">Комнат: {{ ads.ads_rooms }}</div>
                    <div class="topics-item-topic_series mob-topic-item-header">
                        {% if ads.ads_type_building == "Новостройка" %}
                            НС
                        {% else %}
                            ВТ
                        {% endif %}
                    </div>
                    <div class="topics-item-topic_area mob-topic-item-header">{{ ads.ads_square }}м<sup>2</sup>
                    </div>
                </div>
                <div class="topics-item-topic_name">
                    <a class="topics-item-view" data-toggle="collapse" href="#{{ ads.pk }}"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        {{ ads.ads_title|slice:85 }}...</a>
                    <div class="topics-item-icon clearfix">
                        <div class="topic-item-bay_top"></div>
                        {% if ads.ads_hot %}
                            <div class="topic-item-bay_fast">Срочно!</div>
                        {% endif %}
                        {% if ads.ads_image1 %}
                            <i style="padding-right: 10px; color: #2B81AF" class="fa fa-picture-o"
                               title="Есть фото"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="topic-item-open-content off"></div>
            </div>
            <div class="collapse" id="{{ ads.pk }}">
                <div class="topic-item-open-content off on end">
                    <div class="topic-view-block">
                        <div class="topic-best-view topic-best-view-verified-verified ">
                            <div class="topic-best-view-content">
                                <div class="topic-best-view-block-50 topic-best-view-block-50__info">
                                    <div class="topic-best-view-info">
                                        <div class="topic-view-best-rows-item topic-view-best-rows-item-100"><span
                                                class="topic-view-best-rows-key">Цена: </span><span
                                                class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_cost">{{ ads.ads_price }}</span><span
                                                class="topic-view-best-topic_currency">$</span></span></div>
                                        <div class="topic-view-best-rows-item topic-view-best-rows-item-100"><span
                                                class="topic-view-best-rows-key">Телефон: </span><span
                                                class="topic-view-best-rows-value"><span class="topic-view-best-phones"><a
                                                class="topic-view-best-phone"
                                                href="tel:{{ ads.ads_phone }}">{{ ads.ads_phone }}</a></span></span>
                                        </div>
                                        <div class="topic-view-best-rows-item"><span
                                                class="topic-view-best-rows-key">Комнат: </span><span
                                                class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_rooms">{{ ads.ads_rooms }}</span></span>
                                        </div>
                                        <div class="topic-view-best-rows-item"><span class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_series">{{ ads.ads_type_building }}</span></span>
                                        </div>
                                        <div class="topic-view-best-rows-item"><span
                                                class="topic-view-best-rows-key">Площадь: </span><span
                                                class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_area">{{ ads.ads_square }}</span> м<sup>2</sup></span>
                                        </div>
                                        <div class="topic-view-best-rows-item topic-view-best-rows-item-100"><span
                                                class="topic-view-best-rows-key">Отопление: </span><span
                                                class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_walls">{{ ads.ads_heat }}</span></span>
                                        </div>
                                        <div class="topic-view-best-rows-item"><span
                                                class="topic-view-best-rows-key">Этаж: </span><span
                                                class="topic-view-best-rows-value"><span
                                                class="topic-view-best-topic_floor">{{ ads.ads_floor }}</span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="topic-best-view-block-50 topic-best-view-block-50__image">
                                    <div class="topic-best-view-images topic-best-view-images-slack">
                                        <div class="topic-best-view-images-image-position"></div>
                                        <div class="topic-best-view-images-nav">
                                            {% if ads.ads_image1 %}
                                                <div class="topic-best-view-images-image-parent">

                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image1.url }}');  width:100%;height:250px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image2 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image2.url }}');  width:100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image3 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image3.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image4 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image4.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image5 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image5.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image6 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image6.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image7 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image7.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image8 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image8.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image9 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image9.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                            {% if ads.ads_image10 %}
                                                <div class="topic-best-view-images-image-parent">
                                                    <div class="topic-best-view-images-image-nav"
                                                         style="background-image: url('{{ ads.ads_image10.url }}');  width: 100%;height:200px;"></div>
                                                </div>{% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="topic-best-view-body-parent">
                                    <div class="topic-view-body-parent">
                                        <div class="topic-best-view-body">
                                            <div>
                                                <div class="topic-view-body"><p class="bb-p">{{ ads.ads_title }}</p>
                                                    <p class="bb-p">
                                                        Цена: {{ ads.ads_price }}$<br>Телефон: {{ ads.ads_phone }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="topic-view-date_list">
                                    <div class="topic-view-date_list-item topic-view-topic_date_up ic_date_range_9c9c9c_24dp_2x">
                                        Дата продления: {{ ads.ads_update_date }}
                                    </div>
                                    <div class="topic-view-date_list-item topic-view-topic_date_create_row">
                                        Дата создания: {{ ads.ads_date }}
                                    </div>
                                </div>
                                <div class="topic-view-block-100">
                                    <div class="topic-view-site-link">
                                        <div class="topic-view-site-link-content ic_link_9c9c9c_24dp_2x"><a
                                                href="{% url 'ads_detail' ads.pk %}"
                                                class="topic-view-site-link-a" target="_blank">Ссылка на объявление</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>


    <script>
        function myFunction() {
            // Declare variables
            var input, filter, topic, a, b, c, d, i, txtValue, txtValue1, txtValue2, txtValue3, cost_txt, rooms_txt,
                area_txt, view_txt;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            cost_txt = document.getElementsByClassName("topics-item-topic_cost");
            rooms_txt = document.getElementsByClassName("topics-item-topic_rooms");
            area_txt = document.getElementsByClassName("topics-item-topic_area");
            view_txt = document.getElementsByClassName("topics-item-view");
            topic = document.getElementsByClassName("topics-item");


            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < cost_txt.length; i++) {
                a = cost_txt[i];
                b = rooms_txt[i];
                c = area_txt[i];
                d = view_txt[i];
                txtValue = a.textContent || a.innerText;
                txtValue1 = b.textContent || b.innerText;
                txtValue2 = c.textContent || c.innerText;
                txtValue3 = d.textContent || d.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1
                    || txtValue2.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1) {
                    topic[i].style.display = "";
                } else {
                    topic[i].style.display = "none";
                }
            }
        }
    </script>


{% endblock %}