{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Удалить Объявление</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>Объявления</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


    <div class="container p-tb-2">
        <h2>Вы действительно хотите удалить {{ object.ads_title }} ?</h2>
        <form action="" method="post">{% csrf_token %}
            <button type="submit" value="Delete" class="btn btn-danger">Удалить</button>
        </form>
    </div>
{% endblock %}