{% extends 'base.html' %}
{% load static %}
{% block title %}Список объявлений{% endblock %}
{% block description %}Список объявлений о недвижимости от жилищного кооператива Келечек
{% endblock %}
{% block content %}
    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                {% if object_list.0.ads_status %}
                                    <h2>Список опубликованных Объявлений</h2>
                                {% else %}
                                    <h2>Список Поступивших Объявлений</h2>
                                {% endif %}
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->


    <!-- Panel Filtering rows -->
    <div class="panel">
        <div class="panel-body">
            {#            <input id="myInput" type="text" placeholder="Search..">#}
            <br>
            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                   data-paging="true" data-filtering="true" data-sorting="true">
                <thead>
                <tr>
                    <th class="th-width-3" data-name="id" data-type="number" data-breakpoints="xs">№</th>
                    <th id="ads_status" data-name="status" class="hidden col-md-1">Тип</th>
                    <th class="center-align" data-name="firstName">Заголовок</th>
                    <th class="center-align manage-th" data-name="firstName" data-breakpoints="xs">Адрес</th>
                    <th class="center-align th-width-6.5" data-name="firstName" data-breakpoints="xs">Комнат</th>
                    <th class="center-align th-width-8" data-name="firstName" data-breakpoints="xs">Площадь</th>
                    <th class="center-align th-width-5" data-name="firstName" data-breakpoints="xs">Этаж</th>
                    <th class="center-align th-width-4.5" data-name="firstName">Hot</th>
                    {% if user.is_superuser or user.is_moderator %}
                        <th class="center-align manage-th-ads" data-name="lastName" data-breakpoints="xs">Управление</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="myTable">
                {% for ads in object_list %}
                    <tr>
                        <td class="counterCell center-align"></td>
                        <td class="hidden" style="display: none">{{ ads.ads_type }}</td>
                        <td style="text-align: left">{{ ads.ads_title }}</td>
                        <td>{{ ads.ads_address }}</td>
                        <td class="center-align">{{ ads.ads_rooms }}</td>
                        <td class="center-align">{{ ads.ads_square }}</td>
                        <td class="center-align">{{ ads.ads_floor }}</td>
                        <td class="center-align">
                            {% if ads.ads_hot %}
                                <a class="label label-danger">Срочно!</a>
                            {% else %}
                                <a class="label label-success">Нет!</a>
                            {% endif %}
                        </td>
                        {% if user.is_superuser or user.is_moderator %}
                            <td>
                                <a href="{% url 'ads_detail' ads.pk %}"
                                   style="background:#68ca00; color:white; font-weight:700; font-size:13px; padding:4px 13px; border-radius: 6px;"
                                   title="Информация о Объявлении"><i
                                        class="fa fa-info"></i></a>
                                <a href="{% url 'change_status' ads.pk %}"
                                   style="background:lightskyblue; color:white; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"
                                        {% if object_list.0.ads_status %}
                                   title="На перепроверку"
                                        {% else %}
                                   title="Опубликовать"
                                        {% endif %}><i
                                        class="fa fa-check-circle-o"></i></a>
                                <a href="{% url 'make_hot' ads.pk %}"
                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"
                                   title="Сделать Срочным"><i
                                        class="fa fa-check-square-o"></i></a>
                                <a href="{% url 'up_ad' ads.pk %}"
                                   style="background:yellowgreen; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"
                                   title="Поднять"><i
                                        class="fa fa-arrow-up"></i></a>
                                <a href="{% url 'ads_update' ads.pk %}"
                                   style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"
                                   title="Изменить"><i
                                        class="fa fa-gears"></i></a>
                                <a href="{% url 'ads_delete' ads.pk %}"
                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"
                                   title="Удалить"><i
                                        class="fa fa-trash"></i></a>

                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <!-- End Panel Filtering -->

{% endblock %}