{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ object.ads_title }} |
{% endblock %}
{% block content %}

    <!-- Start breadcumb Area -->
    <div class="page-area">
        <div class="breadcumb-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                            <div class="section-headline white-headline">
                                <h2>Объявление</h2>
                            </div>
                            <ul class="breadcrumb-bg">
                                <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                                <li>Объявления</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcumb Area -->

    <!-- Container for the image gallery -->
    <div class="project-details-page area-padding">
        <div class="container">
            <!-- Start row-carousel -->
            <div class="row-carousel">
                <!-- Start col-md-8 -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- Full-width images with number text -->
                    {% if object.ads_image1 %}
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image1.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}
                    {% if object.ads_image2 %}
                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image2.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}
                    {% if object.ads_image3 %}
                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image3.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}
                    {% if object.ads_image4 %}
                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image4.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}
                    {% if object.ads_image5 %}
                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image5.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}
                    {% if object.ads_image6 %}
                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img class="ads-detail-img" src="{{ object.ads_image6.url }}" style="width:100%"
                                 alt="{{ object.ads_title|slice:100 }} Бишкек">
                        </div>
                    {% endif %}

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Thumbnail images -->
                    <div class="row-ads-det-img">
                        <div class="column">{% if object.ads_image1 %}
                            <img class="demo cursor" src="{{ object.ads_image1.url }}" style="width:100%"
                                 onclick="currentSlide(1)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                        <div class="column">{% if object.ads_image2 %}
                            <img class="demo cursor" src="{{ object.ads_image2.url }}" style="width:100%"
                                 onclick="currentSlide(2)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                        <div class="column">{% if object.ads_image3 %}
                            <img class="demo cursor" src="{{ object.ads_image3.url }}" style="width:100%"
                                 onclick="currentSlide(3)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                        <div class="column">{% if object.ads_image4 %}
                            <img class="demo cursor" src="{{ object.ads_image4.url }}" style="width:100%"
                                 onclick="currentSlide(4)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                        <div class="column">{% if object.ads_image5 %}
                            <img class="demo cursor" src="{{ object.ads_image5.url }}" style="width:100%"
                                 onclick="currentSlide(5)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                        <div class="column">{% if object.ads_image6 %}
                            <img class="demo cursor" src="{{ object.ads_image6.url }}" style="width:100%"
                                 onclick="currentSlide(6)" alt="{{ object.ads_title|slice:100 }} Бишкек">{% endif %}
                        </div>
                    </div>
                </div>
                <!-- End col-md-8 -->
                <!-- Start col-md-4 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="project-history">
                        <h4>Общие характеристики:</h4>
                        <div class="project-name">
                            <ul>
                                <li>
                                    <div class="project-li-description">
                                        <div>Количество комнат :</div>
                                        <div>{{ object.ads_rooms }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Жилая площадь :</div>
                                        <div>{{ object.ads_square }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Этаж :</div>
                                        <div>{{ object.ads_floor }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Тип здания :</div>
                                        <div>{{ object.ads_type_building }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Адрес :</div>
                                        <div>{{ object.ads_address }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Цена :</div>
                                        <div>{{ object.ads_price }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div>Дата :</div>
                                        <div>{{ object.ads_date }}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="project-li-description">
                                        <div style="-webkit-text-fill-color: red">Телефон :</div>
                                        <div>{{ object.ads_phone }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-md-4 -->
                <!-- Object description -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="project-details">
                        <h4>{{ object.ads_title }}</h4>
                        <p>{{ object.ads_body }}</p>
                    </div>
                </div>
            </div>
            <!-- End row-carousel -->
        </div>
    </div>

{% endblock %}