<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} Келечек - Жилищный кооператив Кыргызстан, Бишкек</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
          content="Жилищный кооператив, доступное жилье в Бишкеке, Келечек кооператив, Жилищный кооператив Келечек, Жилищный кооператив, Жилищный кооператив Бишкек, Жилищный кооператив Кыргызстан, Недвижимость, Недвижимость в рассрочку, Альтернатива ипотеке, Жилье в аренду в Бишкеке">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="c_11ijAMXTEgBWYztyw9vgf31T3ktXLRsKKTdCzmzJY"/>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">

    <!-- all css here -->


    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <!-- magnific css -->
    <link rel="stylesheet" href="{% static 'css/magnific.min.css' %}">
    <!-- venobox css -->
    <link rel="stylesheet" href="{% static 'css/venobox.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/topic.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {# table css #}
    <link rel="stylesheet" href="{% static 'table/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'table/vendor/footable/footable.core.css' %}">
    <link rel="stylesheet" href="{% static 'table/fonts/web-icons/web-icons.min.css' %}">
    {# endtable #}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VS23W8E35Z"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VS23W8E35Z');
    </script>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="header-one">
    <!-- Start top bar -->
    <div class="topbar-area fix hidden-xs">
        <div class="container">
            <div class="row">
                <div class=" col-md-9 col-sm-9">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@kelechek.kg</a></li>
                            <li><a href="tel:+996553400200"><i class="fa fa-phone-square"></i> +996 (553) 400-200</a>
                            </li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>Пн-Сб: 10:00 - 18:00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="top-social">
                        <ul>

                            {% if user.is_authenticated %}
                            <a href="{% url 'user_detail' user.pk %}" class="btn btn-default">Профиль</a>
                                {% if user.is_staff or user.user_is_operator or user.is_moderator %}
                                <li><a href="{% url 'admin_page' %}"><i class="fa fa-gears"></i></a></li>
                                {% endif %}
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></li>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-default">Авторизация</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3 logo-bg">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="{% url 'home' %}">
                            <img src="{% static 'img/logo/logo2.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- logo end -->
                <div class="col-md-9 col-sm-9">
                    <div class="header-right-link">
                        <div class="slice-btn"><span class="icon icon-menu"></span></div>
                    </div>
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="pagess" href="{% url 'home' %}">Главная</a></li>
                                    <li><a class="pagess" href="{% url 'about' %}">О Кооперативе</a>
                                        <ul class="sub-menu">
                                            <li><a class="pagess" href="{% url 'criteria' %}">Критерии покупки</a></li>
                                            <li><a class="pagess" href="{% url 'steps' %}">Этапы приобретения</a></li>
                                            <li><a class="pagess" href="{% url 'conditions' %}">Условия</a></li>
                                            <li><a class="pagess" href="{% url 'advantages' %}">Преимущества</a></li>
                                            <li><a class="pagess" href="{% url 'contact' %}">Контакты</a></li>
                                            <li><a class="pagess" target="_blank" href="{% url 'regulation' %}">Устав</a></li>
                                        </ul>
                                    </li>

                                    <li><a class="pagess" href="{% url 'news' %}">Новости</a></li>
                                    <li><a class="pagess" href="{% url 'faq' %}">Вопросы</a></li>
                                    <li class="pages_obyavlenie"><a class="pagess" style="color: #fff">Объявления</a>
                                        <ul class="sub-menu">
                                            <li><a class="pagess" href="{% url 'ads_table' %}">Список Объявлений</a>
                                            </li>
                                            <li><a class="pagess" href="{% url 'ads_create' %}">Подать Объявление</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pages_calculator"><a href="#calculate">Калькулятор</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-right-link">
                        <div class="slice-btn"><span class="icon icon-menu"></span></div>
                    </div>
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo2.png' %}" alt=""/></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li><a class="pagess" href="{% url 'home' %}">Главная</a></li>
                                <li><a class="pagess" href="{% url 'about' %}">О Кооперативе</a>
                                    <ul class="sub-menu">
                                        <li><a class="pagess" href="{% url 'criteria' %}">Критерии покупки</a></li>
                                        <li><a class="pagess" href="{% url 'steps' %}">Этапы приобретения</a></li>
                                        <li><a class="pagess" href="{% url 'conditions' %}">Условия</a></li>
                                        <li><a class="pagess" href="{% url 'advantages' %}">Преимущества</a></li>
                                        <li><a class="pagess" href="{% url 'contact' %}">Контакты</a></li>
                                        <li><a class="pagess" target="_blank" href="{% url 'regulation' %}">Устав</a></li>
                                    </ul>
                                </li>
                                <li><a class="pagess" href="{% url 'news' %}">Новости</a></li>
                                <li><a class="pagess" href="{% url 'faq' %}">Вопросы</a></li>
                                <li><a class="pagess">Объявления</a>
                                    <ul class="sub-menu">
                                        <li><a class="pagess" href="{% url 'ads_table' %}">Список Объявлений</a>
                                        </li>
                                        <li><a class="pagess" href="{% url 'ads_create' %}">Подать Объявление</a>
                                        </li>
                                    </ul>
                                </li>
                                {% if user.is_authenticated %}
                                <li><a class="pagess" href="{% url 'logout' %}">Выход</a></li>
                                {% else %}
                                <li><a class="pagess" href="{% url 'login' %}">Авторизация</a></li>
                                {% endif %}
                                <li><a class="pages_calculator" href="#calculate">Калькулятор</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>
<!-- header end -->
<div class="layer-drop"></div>
<!--Appointment Box-->
<div class="appointment-wrapper">
    <div class="appoint-box">
        <div class="cross-icon"><span class="icon icon-cross"></span></div>
        <div class="title">
            <a class="slide-logo" href="{% url 'home' %}">
                <img src="{% static 'img/logo/logo.png' %}" alt="">
            </a>
            <div class="separator"></div>
        </div>
        <div class="contact-icon">
            <div class="single-contact">
                <h5>Головной офис</h5>
                <a href="#"><i class="fa fa-map"></i><span>г. Бишкек, ул. Фурманова д 12</span></a>
                <a href="+996703400200"><i class="fa fa-phone"></i><span> +996 (703) 400-200</span></a>
                <a href="+996773400200"><i class="fa fa-phone"></i><span> +996 (773) 400-200</span></a>
                <a href="+996553400200"><i class="fa fa-phone"></i><span> +996 (553) 400-200</span></a>
                <a href="#"><i class="fa fa-envelope"></i><span>info@kelechek.kg</span></a>
            </div>
            <div class="quote-icons">
                <h5>Мы в соц. сетях</h5>
                <ul>
                    <li>
                        <a href="https://www.instagram.com/kooperativkelechek/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End contact Form-->
{% block content %}

{% endblock %}

<!-- Start Footer bottom Area -->
<footer class="footer-1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>О Компании</h4>
                            <p>
                                Жилищный кооператив Келечек
                            </p>
                            <div class="footer-contacts">
                                <p><span>Тел:</span><a href="+996773400200"><span
                                        style="color: #ddd; font-weight: normal"> +996 (773) 400-200</span></a></p>
                                <p><span>Тел:</span><a href="+996553400200"><span
                                        style="color: #ddd; font-weight: normal"> +996 (553) 400-200</span></a></p>
                                <p><span>Тел:</span><a href="+996703400200"><span
                                        style="color: #ddd; font-weight: normal"> +996 (703) 400-200</span></a></p>
                                <p><span>Email:</span> info@kelechek.kg</p>
                                <p><span>Адрес:</span> ул. Фурманова д 12</p>
                            </div>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/kooperativkelechek">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCh2nHe4Voxs-yg5cvSsCuJQ">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/kooperativkelechek/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Быстрые ссылки</h4>
                            <div class="footer-services-link">
                                <ul class="footer-list">
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li><a href="{% url 'about' %}">О Кооперативе</a></li>
                                    <li><a href="{% url 'steps' %}">Этапы приобретения</a></li>
                                    <li><a href="{% url 'conditions' %}">Условия</a></li>
                                    <li><a href="{% url 'advantages' %}">Преимущества</a></li>
                                </ul>

                                <ul class="footer-list hidden-sm">
                                    <li><a href="{% url 'news' %}">Новости</a></li>
                                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                                    {% if user.is_superuser %}
                                    <li><a href="{% url 'admin_page' %}">Админ панель</a></li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Выход</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Вход</a></li>
                                    {% endif %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content last-item">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="subs-feilds">
                                <div class="suscribe-input">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
            </div>
        </div>
    </div>
    <!-- End footer area -->
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Сделано с любовью от компании
                            <a href="https://infis.kg">Infis</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="calculate" class="modalDialog">

    <div class="sig">
        <a href="#close" title="Close" class="close1">X</a>
        <div class="sec-title pdb-51 text-center">
            <h1>Калькулятор</h1>
            <span class="border-center"></span>
        </div>
        <div class="warranty">Заполните 2 поля: стоимость недвижимости и срок аренды!<br>Нажмите на кнопку:
            "Рассчитать". <p style="-webkit-text-fill-color: red">Валюта рассчета сом.</p>
        </div>

        <form name="first" class="calcs request-form">


            <div class="col-md-6 calcs request-form">
                <span class="calctext" style="text-align: center;">Стоимость жилья:</span>
                <input name="a" type="text" placeholder="Введите сумму, сом" value=""
                       onkeyup="this.value = (this.value.replace(/\s*/g,'')).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');">
            </div>


            <div class="col-md-6 calcs request-form">
                <span class="calctext" style="text-align: center;">Кол-во лет:</span>
                <input name="c" type="number" min="1" max="10" value="10">
            </div>
            <div class="col-md-12" style="text-align: center; margin-bottom: 15px;">
                <input type="button" class="thm-btnm-2 bgclr-z send" name="ss" value="Рассчитать" onclick="loan();"
                       return="" false;="">
            </div>



            <div class="col-md-6 calcs2 norm" style="border-top: 1px dashed #d11317;">
                <span class="calctext">Первоначальный взнос, 25%:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r2" type="text" readonly="">
            </div>



            <div class="col-md-6 calcs2 norm" style="border-top: 1px dashed #d11317;">
                <span class="calctext">Членский взнос, в месяц:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r7" type="text" readonly="">
            </div>



            <div class="col-md-6 calcs2 norm">
                <span class="calctext">Вступительный взнос, 4%:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r1" type="text" readonly="">
            </div>



            <div class="col-md-6 calcs2 norm">
                <span class="calctext">Сумма к получению:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r6" type="text" readonly="">
            </div>


            <div class="col-md-6 hidden calcs2 norm" style="border-top: 1px dashed #d11317;">
                <span class="calctext">Перв. взнос, 29%:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r4" type="text" readonly="">
            </div>


            <div class="col-md-6 hidden norm">
                <span class="calctext">Паевой платеж, в месяц:</span>
                <input style="font-size: 25px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r9" type="text" readonly="">
            </div>



            <div class="col-md-12 calcs2 norm">
                <span class="calctext" style="color: black; font-size: 16px;">Ежемесячный платеж:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="r3" type="text" readonly="">
            </div>

            <div class="col-md-12 calcs2 norm">
                <span class="calctext" style="color: black; font-size: 16px;">Общая сумма выплаты:</span>
                <input style="font-size: 20px; color: #d11317; height:25px; line-height:12px; text-align:center; background: #f9f9f9; border: 0px;"
                       name="result" type="text" readonly="">
            </div>

        </form>

    </div>
</div>

<script>
    function loan() {
        var a = document.first.a.value.replace(/\s/g, '');
        var c = document.first.c.value;

        if (c < 1 || c > 15)
            alert('!!!');
        var p1 = a * 0.04;
        var p2 = a * 0.25;
        var p3 = (a * 0.75) / (c * 12) + 2000;
        var p4 = (a * 0.25) + (a * 0.04);
        var p6 = a * 0.75;
        var p7 = 2000;
        var p9 = (a * 0.75) / (c * 12);
        var prin1 = Math.round(p1 * 100) / 100;
        var prin2 = Math.round(p2 * 100) / 100;
        var prin3 = Math.round(p3 * 100) / 100;
        var prin4 = Math.round(p4 * 100) / 100;
        var prin6 = Math.round(p6 * 100) / 100;
        var prin7 = Math.round(p7 * 100) / 100;
        var prin9 = Math.round(p9 * 100) / 100;
        var res = (prin3 * (c * 12)) +  prin2

        function numFormat(prin1) {
            return prin1.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin2) {
            return prin2.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin3) {
            return prin3.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin4) {
            return prin4.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin6) {
            return prin6.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin7) {
            return prin7.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(prin9) {
            return prin9.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        function numFormat(res) {
            return res.toFixed(0).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
        }

        document.first.r1.value = numFormat(prin1);
        document.first.r2.value = numFormat(prin2);
        document.first.r3.value = numFormat(prin3);
        document.first.r4.value = numFormat(prin4);
        document.first.r6.value = numFormat(prin6);
        document.first.r7.value = numFormat(prin7);
        document.first.r9.value = numFormat(prin9);
        document.first.result.value = numFormat(res);
    }
</script>

<!-- all js here -->

<!-- jquery latest version -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- owl.carousel js -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Counter js -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- waypoint js -->
<script src="{% static 'js/waypoints.js' %}"></script>
<!-- isotope js -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- stellar js -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- magnific js -->
<script src="{% static 'js/magnific.min.js' %}"></script>
<!-- venobox js -->
<script src="{% static 'js/venobox.min.js' %}"></script>
<!-- meanmenu js -->
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<!-- Form validator js -->
<script src="{% static 'js/form-validator.min.js' %}"></script>
<!-- plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/image_inputs.js' %}"></script>

{# table js #}
<script src="{% static 'table/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'table/vendor/footable/footable.min.js' %}"></script>
{# end table js#}

<!-- modernizr css -->
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

</body>
</html>
