{% extends 'base.html' %}
{% load static %}
{% block description %}
    Доступное жилье вместе с жилищным кооперативом Келечек - альтернатива ипотечным займам. Арендное жилье с последующий
    выкупом. Жилищный кооператив в Бишкеке.
{% endblock %}
{% block content %}

    <!-- Start Slider Area -->
    <div class="intro-area">
        <div class="intro-carousel">
            <div class="intro-content">
                <div class="slider-images">
                    <img src="{% static 'img/slider/s1.jpg' %}" alt="">
                </div>
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- layer 1 -->
                                <div class="layer-1">
                                    <h1 class="title2">Купи квартиру в рассрочку на 10 лет без %</h1>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-3">
                                    <a href="{% url 'about' %}" class="ready-btn">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content">
                <div class="slider-images">
                    <img src="{% static 'img/slider/s2.jpg' %}" alt="">
                </div>
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- layer 1 -->
                                <div class="layer-1">
                                    <h1 class="title2">Сделай один шаг к будущему вместе с нами!</h1>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-3">
                                    <a href="{% url 'contact' %}" class="ready-btn">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Welcome service area start -->
    <div class="welcome-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="services-headline">
                        <h3>Основным преимуществом является то, что все документы оформляются на Вас!
                        </h3>
                        <p>После оформления Вы можете проживать в своей квартире или сдавать в аренду.
                            Также если вы решите выйти из кооператива, мы Вам вернем первоначальный взнос.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="well-inner">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="well-services">
                            <div class="well-content">
                                <h4><a href="#">Вступительный <br> взнос 4 %</a></h4>
                                <p><b>4 % от стоимости квартиры.</b> <br>Членами кооператива могут быть граждане
                                    Кыргызской
                                    Республики, достигшие 18-летнего возраста.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="well-services">
                            <div class="well-content">
                                <h4><a href="#">Первоначальный <br>взнос 25%</a></h4>
                                <p><b>25% от стоимости квартиры.</b> <br>Недвижимость может быть приобретена только в
                                    пределах
                                    Чуйской области Кыргызской Республики.</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="well-services">
                            <div class="well-content">
                                <h4><a href="#">Ежемесячные <br>выплаты + 2000 сом</a></h4>
                                <p>Ежемесячные выплаты + 2000 сом. Для содержания компании(З/П сотрудникам, реклама,
                                    аренда и прочие расходы)</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-3 hidden-sm col-xs-12">
                        <div class="well-services">
                            <div class="well-content">
                                <h4><a href="#">Необходимые <br>документы</a></h4>
                                <p>Документы для того чтобы стать членом некоммерческого жилищно-накопительного кооператива взаимопомощи :
                                    <br>1. Паспорт</p>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome service area End -->

    <!-- about-area start -->
    <div class="about-area area-padding bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-image">
                        <img src="{% static 'img/about.jpeg' %}" alt="" class="ab-first-img">
                    </div>
                </div>
                <!-- column end -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-content">
                        <div class="about-inner">
                            <h4>Жилищный кооператив «Келечек»</h4>
                            <p>Жилищный кооператив «Келечек» предоставляет возможность приобрести квартиру в рассрочку
                                сроком на 10 лет без%. Программа нацелена на слой населения, которое не может приобрести
                                квартиру сразу. Так же вы можете проживать или сдавать в аренду эту квартиру, что
                                облегчит ваши ежемесячные платежи. Зачем снимать квартиру и выплачивать ежемесячно за
                                чужую квартиру? <br>
                                <b>Пришло время вкладывать деньги в свое будущее и в свою недвижимость!</b>
                            <div class="about-details">
                                <ul class="about-list">
                                    <li>Самый низкий вступительный и первоначальный взнос</li>
                                    <li>Минимальный первоначальный взнос</li>
                                    <li>Документы на недвижимость оформляются на вас!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column end -->
            </div>
        </div>
    </div>
    <!-- about-area end -->

    <!-- Start Service area -->
    <div class="services-area area-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="left-headline">
                        <h3>Почему люди выбирают Нас</h3>
                        <p>Основное преимущество жилищного кооператива заключается в том,
                            что вам не нужно переплачивать за свою квартиру,
                            не нужно собирать множество документов.
                            Процесс проходит достаточно быстро и просто.
                            Выбор за вами! Выплачивать огромный процент за ипотеку или купить квартиру в рассрочку без
                            %.</p>
                    </div>
                </div>

                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="services-carousel all-services">
                        <!-- Start column -->
                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Самый низкий вступительный (4%) и первоначальный взнос (25%) в
                                        Кыргызстане</a></h4>

                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Рассрочка от 1 года до 10 лет</a></h4>

                                </div>
                            </div>
                        </div>
                        <!-- End column -->


                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Возможность – сдавать в аренду приобретённую недвижимость</a></h4>

                                </div>
                            </div>
                        </div>
                        <!-- End column -->

                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Проверять финансовую деятельность и расход денежных средств
                                        кооператива</a></h4>

                                </div>
                            </div>
                        </div>
                        <!-- End column -->

                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Возможность передачи пая другому члену кооператива или третьему
                                        лицу</a></h4>

                                </div>
                            </div>
                        </div>
                        <div class="single-service">
                            <div class="service-content">

                                <div class="service-text" style="min-height: 300px">
                                    <h4><a href="#">Документы на недвижимость оформляются на вас!</a></h4>

                                </div>
                            </div>
                        </div>
                        <!-- End column -->
                    </div>
                    <!-- End column -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->

    <!-- Start Service area -->
    <div class="choose-area fix" data-stellar-background-ratio="0.6">
        <div class="container-full">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="choose-wrapper">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="center-headline">
                                    <h2>Этапы приобретения</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="choose-all">

                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-sticky-note-o"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">1.
                                                Заявление</a></h4>
                                            <p>Заполнить заявление вступление в жилищный кооператив Келечек.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-sticky-note"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">2. Договор</a></h4>
                                            <p>Заключить Договор об участие в некоммерческом ЖК «Один Шаг к
                                                Будущему»</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-money"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">3. Оплата</a></h4>
                                            <p>Внесение вступительного взноса 4% от общей суммы приобретаемой
                                                недвижимости и первоначального взноса 25% от общей суммы приобретаемой
                                                недвижимости.
                                                Оплата проходит в отделениях банка «Айыл Банк» на счет
                                                Кооператива.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-check"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">4. Выбор
                                                недвижимости</a></h4>
                                            <p>Вы можете подобрать любую недвижимость сами на рынке Кыргызстана (в
                                                пределах Чуйской обл.). Она должна иметь соответствующие документы
                                                (Красная книга, тех. паспорт)</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-choose">
                                        <a class="choose-images" href="#"><i class="fa fa-building-o"></i></a>
                                        <div class="choose-content">
                                            <h4><a href="#">5. Покупка
                                                недвижимости.</a></h4>
                                            <p>Документы оформляются на вас. </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start services -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->

    <!-- Start project Area -->
    <div class="project-area bg-color pt-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="center-headline">
                        <h2>Последние Новости</h2>
                    </div>
                </div>
            </div>
            <!--Blog Area Start-->
            <div class="blog-area area-padding">
                <div class="container">
                    <div class="row">
                        <div class="blog-grid">
                            {% for post in last_news %}
                                <!-- Start single blog -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="single-blog">
                                        <div class="blog-image">
                                            <a class="image-scale" href="{% url 'news_detail' post.pk %}">
                                                <img src="{{ post.photo.url }}"
                                                     alt="{{ post.title|slice:'100' }} Бишкек">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <div class="blog-meta">
										<span class="date-type">
											{{ post.news_date }}
										</span>
                                            </div>
                                            <a href="{% url 'news_detail' post.pk %}">
                                                <h4>{{ post.title }}</h4>
                                            </a>
                                            <p>{{ post.body|slice:50 }}</p>
                                        </div>
                                        {% if user.is_superuser %}
                                            <a style="-webkit-text-fill-color: red"
                                               href="{% url 'news_delete' post.pk %}">Удалить</a>
                                            <a style="-webkit-text-fill-color: #3c763d"
                                               href="{% url 'news_update' post.pk %}">Изменить</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- End single blog -->
                            {% endfor %}
                        </div>
                        <!-- Start Paginator -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% if is_paginated %}
                                <div class="blog-pagination">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                                        {% else %}
                                            <li class="disabled"><span>Prev</span></li>
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                                </li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                        {% else %}
                                            <li class="disabled"><span>Next</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End Paginator -->
                    </div>
                    <!-- End row -->
                </div>
            </div>
            <!--End of Blog Area-->
        </div>
    </div>
    <!-- End project Area -->


{% endblock %}