{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Список Операторов</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<!-- Panel Filtering rows -->
<div class="panel p-tb-2">
    <div class="panel-body">
        <div class="btn-block" style="text-align: right; padding: 2vh 4vw;">
            <a href="{% url 'operator_signup' %}" class="btn btn-success"
                style="text-transform: uppercase; font-weight: bold">Регистрация Оператора</a>
        </div>
        <table class="center-align table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
            data-paging="true" data-filtering="true" data-sorting="true">


            <thead>
                <th class="center-align" data-name="id" data-type="number" data-breakpoints="xs" width="3%">№</th>
                <th data-name="login" class="center-align">Логин</th>
                <th data-name="login" class="center-align">Телефон</th>
                <th data-name="management" width="9%" class="center-align">Управление</th>
                </tr>
            </thead>
            <tbody>
                {% for x in object_list %}
                <tr>
                    <td class="counterCell center-align"></td>
                    <td class="center-align">{{ x.username.upper }}</td>
                    <td class="center-align">{{ x.user_phone_number1 }}</td>
                    <td class="center-align">
                        <a href="{% url 'user_detail' x.pk %}"
                            style="background:#03bfe2; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                class="fa fa-user"></i></a>
                        <a href="{% url 'user_update' x.pk %}"
                            style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                class="fa fa-gears"></i></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Start Paginator -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if is_paginated %}
            <div class="blog-pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                    {% else %}
                    <li class="disabled"><span>Prev</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                    <li class="disabled"><span>Next</span></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        <!-- End Paginator -->
    </div>
</div>
<!-- End Panel Filtering -->


{% endblock %}