{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Список участников</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<!-- Panel Filtering rows -->
<div class="panel p-tb-2">
    <div class="panel-body">
        <div class="btn-block" style="text-align: right; padding: 2vh 4vh;">
            <div class="col-md-8" style="border: 1px solid blue;
            border-radius: 10px; padding: 1vh">
                <div class="row">
                <form action="{% url 'export_csv' %}" method="get">
                    <div class="col-md-5">
                        <input type="date" name="date_from" class="dateinput form-control inline-">
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="date_to" class="dateinput form-control inline">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Скачать xls</button>
                    </div>
                </form>
                </div>
            </div>
            <a href="{% url 'signup' %}" class="btn btn-success"
                style="text-transform: uppercase; font-weight: bold">Регистрация
                Участника</a>
        </div>
        <div class="col-md-12">
            <div class="row" style="padding: 2vh 0;">
                 <form action="{% url 'users_list' %}" method="get">
                    <div class="col-md-10">
                        <input name="q" type="text" placeholder="Поиск" class="form-control search-input-list1"
                        {% if search_input is None %}{% else %}value="{{ search_input }}" {% endif %}>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="center-align table table-bordered table-hover toggle-circle">

            <thead>
                <tr>
                    <th class="center-align" data-name="id">№</th>
                    <th>ФИО</th>
                    {% if user.is_superuser %}
                    <th>Логин</th>
                    <th>Баланс</th>
                    {% endif %}
                    <th>Регион</th>
                    <th>Позиция</th>
                    <th>Уведомление</th>
                    {% if user.is_superuser or user.user_is_operator %}
                    <th>Управление</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for x in object_list %}
                <tr>
                    <td class="counterCell center-align"></td>
                    <td class="center-align">{{ x.user_full_name }}</td>
                    {% if user.is_superuser %}
                    <td class="center-align">{{ x.username }}</td>
                    <td class="center-align">{{ x.user_balance }}</td>
                    <td class="center-align">{{ x.user_region }}</td>
                    {% endif %}
                    <td class="center-align">{{ x.user_position }}</td>
                    <td class="center-align">{{ x.user_notifications }}</td>

                    <td class="center-align">
                        <a href="{% url 'user_detail' x.pk %}"
                            style="background:#03bfe2; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                class="fa fa-user"></i></a>
                        {% if user.is_superuser or user.user_is_operator %}
                        <a href="{% url 'user_update' x.pk %}"
                            style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;"><i
                                class="fa fa-gears"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Start Paginator -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if is_paginated %}
            <div class="blog-pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                    {% else %}
                    <li class="disabled"><span>Prev</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                    <li class="disabled"><span>Next</span></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        <!-- End Paginator -->
    </div>
</div>
<!-- End Panel Filtering -->


{% endblock %}