{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>{{ object.user_full_name }}</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li><a href="{% url 'admin_page' %}">Панель управления</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<div class="container p-tb-2 user_change">
    <div class="col-md-12 col-sm-6 col-xs-12">
        <form method="post">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.username|as_crispy_field }}
                {{ form.user_full_name|as_crispy_field }}
                {{ form.user_full_name_plural|as_crispy_field }}
                {{ form.user_balance|as_crispy_field }}
                {{ form.user_passport_given_by|as_crispy_field }}

                <div id="div_id_user_passport_from_date" class="form-group">
                    <label for="id_user_passport_from_date" class="">
                        Выдан от
                    </label>
                    <div class="">
                        <input type="date" name="user_passport_from_date"
                            value="{{ object.user_passport_from_date|date:'Y-m-d' }}" class="dateinput form-control"
                            id="id_user_passport_from_date">
                    </div>
                </div>

                {{ form.user_inn|as_crispy_field }}
                {{ form.user_region|as_crispy_field }}
		
		{% if object.user_is_queued and user.is_superuser %}
                {{ form.user_is_queued|as_crispy_field }}
                {% else %}

                <div class="hidden">
                    {{ form.user_is_queued|as_crispy_field }}
                </div>
                {% endif %}


            </div>
            <div class="col-md-6">

                <div id="div_id_user_birthday" class="form-group">
                    <label for="id_user_birthday" class="">
                        День рождения
                    </label>
                    <div class="">
                        <input type="date" name="user_birthday" value="{{ object.user_birthday|date:'Y-m-d' }}"
                            class="dateinput form-control" id="id_user_birthday">
                    </div>
                </div>

                {{ form.user_birthday_city|as_crispy_field }}
                {{ form.user_passport_address|as_crispy_field }}
                {{ form.user_real_address|as_crispy_field }}
                {{ form.user_phone_number1|as_crispy_field }}
                {{ form.user_phone_number2|as_crispy_field }}
                {{ form.user_notifications|as_crispy_field }}

                <button type="submit" class="btn btn-info">Сохранить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
