{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>удаление участника</h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread">главная</li>
                            <li>Панель управления</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->

<div class="container p-tb-2">
    <form method="post" action="{% url 'delete' user.pk %}">
        {% csrf_token %}
        <h2>Вы действительно хотите удалить участника "{{ user }}" ?</h2>
        <button class="btn btn-danger" type="submit">Удалить</button>
    </form>
</div>

{% endblock %}