{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h3>Здравствуйте {{ object.user_full_name.capitalize }}</h3>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread"><a href="{% url 'home' %}">Главная</a></li>
                            <li>Профиль</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<div class="container">
    <div class="row mar-row">
        <div class="header-of-table" style="padding: 15px">
            <a href="{% url 'password_change' %}" class="btn btn-info">Изменить пароль</a>

            {% if question and not_staff %}
                <a href="{% url 'quotes:vote' question %}" class="btn
                btn-info">Голосование</a>
            {% endif %}

            {% if user.is_superuser or user.user_is_operator %}
                <a href="{% url 'agreement_list' pk=object.pk %}" class="btn btn-info">Список договоров</a>
            {% endif %}
        </div>
        <div class="project-feature">
            <!-- Start column -->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="project-history">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h4 style="color: #31b0d5">{{ message }}</h4></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h4>Данные участника</h4>
                    <div class="project-name">
                        <table>
                            <tr>
                                <th>ФИО:</th>
                                <td>{{ object.user_full_name }}</td>
                            </tr>
                            {% if user.is_superuser %}
                            <tr>
                                <th>Баланс:</th>
                                <td>{{ object.user_balance }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Номер очереди:</th>
                                <td>{{ object.user_position }}</td>
                            </tr>
                            <tr>
                                <th>Регион:</th>
                                <td>{{ object.user_region }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {% if user.is_superuser %}
                                        <a href="{% url 'reset_user_password' pk=object.pk %}" class="btn btn-info">Сбросить пароль пользователя</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <!-- Start column -->
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="row project-wrapper">
                    {% if notification %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-project-inner">
                            <div class="project-inner">
                                <div class="project-icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="project-text">
                                    <h4>Оповещение от Жилищного кооператива</h4>
                                    <p><h4 style="color: #31b0d5">{{ notification.description }}</h4></p>
                                    {% if notification.vote_file %}
                                    <h6>
                                        Прикрепленный докумен: <a href="{{notification.vote_file.url}}">Скачать</a>
                                    </h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-project-inner">
                            <div class="project-inner">
                                <div class="project-icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="project-text">
                                    <h4>Оповещение для {{object.username}}</h4>
                                    <p>{{ object.user_notifications }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-project-inner user-list">
                            <style>.single-project-inner.user-list {
                                height: 500px;
                                overflow: scroll;
                            }</style>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Позиция</th>
                                </tr>
                                </thead>

                                {% for user in users %}
                                <tr {% if user.id == object.id %}style="background: #1084b454;" {% endif %}>

                                    <td>{{ user }}</td>
                                    <td>{{ user.user_position }}</td>

                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End column -->
        </div>
    </div>
</div>
{% endblock %}